<html>

	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>Авторизация</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/styles.css">
	</head>
    
    <body>
        <div class="body_login">
            <div class="form_login_div">
                <form>
                    <div class="page_title">
                        АВТОРИЗАЦИЯ
                    </div>
                    <div class="input_login_div">
                        <input type="text" class="input_aut" id="login-login" name="login" placeholder="Логин">
                    </div>
                    <div class="input_login_div">
                        <input type="password" class="input_aut" id="login-password" name="password" placeholder="*******">
                    </div>
                    <div class="input_login_div">
                        <button class="button_div" type="button" id="submit_login">Войти</button>
                    </div>
                </div>
            </form>
        </div>

        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/scripts.js"></script>
    </body>
    
</html>