* {
margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
}
textarea,
input,
button {
    outline: none; 
}

input:read-only{
    cursor: default;
}

.container {
    align-self: stretch;
    display: flex; 
}
a{
    text-decoration: none;
    color: #000;
}
input[type="text"],
input[type="password"],
input[type="email"]{
    min-width: 200px;
    min-height: 40px;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
}
@media (min-width: 992px) {
    .container {
        width: 100%; 
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 100%; 
    }
}
@media (max-width: 767px) {
    .container {
        width: 100%; 
    }
}
html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    flex: auto;
    color: #333;
    background-color: #fff;
}
.header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    font-size: 17px;
    background-color: #c7cbd6;
    opacity: 0.9;
    z-index: 999; 
}
.container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}
.container .box_logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: stretch; 
    align-items: center;
    min-width: 150px;
    background-color: rgb(31, 36, 48);
}
.container .box_logo .logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 77px;
    width: 150px;
}
.box_info {
    flex: 3;
    display: flex;
    align-self: flex-end;
    justify-content: center;
}
.box_info ul {
    display: flex;
    margin-left: 15%;
}
.box_info ul li {
    list-style: none;
    padding: 10px 25px 10px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 4px solid #c7cbd6;
    padding-bottom: 20px;
    margin: 0 20px 0 20px;
}
.box_info ul li:hover {
    border-bottom: 4px solid rgba(96, 143, 252, 0.568);
}
#sm_item_act{
    border-bottom: 4px solid rgb(58, 114, 244);
}
.container .box_user{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}
.container .menu_user {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    margin-right: 60px;
}
.container .menu_user li {
    color: #333;
    font-weight: bold;
    margin-right: 15px; 
}
.container .menu_user .logo_user {
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 30px; 
}
.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 80px;
}
.main .container .content {
    flex: 4;
    height: 880px;
    min-height: 100px;
    padding: 15px;
    background-color: white;
    align-self: flex-start;
    overflow: auto;
}
.main .container .sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 36, 48);
    opacity: 0.9;
    min-width: 150px;
    align-self: stretch;
}
.main .container .sidebar .box {
    margin-top: 50px;
    text-align: center;
}
.main .container .sidebar li {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px; 
    cursor: pointer;
    font-size: 17;
    font-weight: bold;
}
.main .container .sidebar .item_noactiv:hover{
    background-color: white;
    color: black;
    padding-left: 80px;
    opacity: 0.6;
}
.item_activ{
    padding-left: 80px;
    color: whitesmoke;;
    background-color: rgb(58, 114, 244, 0.6);
}
.item_noactiv{
    color: white;
}
.main .container .nav_bar_box{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    border-bottom: 2px solid #acb1bf;
    align-items: center;
}
.main .container .nav_bar_box .nav_bar{
    display: flex;
    text-transform: uppercase;
}
.main .container .nav_bar_box li {
    list-style: none;
    padding: 0 30px 0 30px;
    margin: 0 40px 0 40px;
    cursor: pointer;
    border-bottom: 3px solid white;
}
.main .container .nav_bar_box li:hover{
    border-bottom: 3px solid #acb1bf;
}
#nav_bar_bax_active{
    border-bottom: 3px solid #acb1bf;
}

#display_none{
    display: none;
}
.display_none{
    display: none;
}


/* СТРАНИЦА USERS */
.center_content{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin: auto;
}
.form-group{
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}
.form-group input{
    height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 17px;
    min-width: 300px;
}
.form-group button{
    min-width: 120px;
    height: 50px;
    border: none;
    background-color: #0675d6cc;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}
.form-group button:hover{
    background-color: #0772cf;
}
.icon_delete_user{
    width: 26px;
    cursor: pointer;
    transition: 0.5s;
}
.icon_delete_user:hover{
    transform: scale(1.3)
}
.status_for_user_td_true{
    cursor: pointer;
    color: #56be10;
    font-weight: bold;
}
.status_for_user_td_false{
    cursor: pointer;
    color: #d82a13;
    font-weight: bold;
}
.status_for_user{
    position: absolute;
    width: 200px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
}
.status_for_user ul li{
    width: 100%;
    height: 65px;
    padding-top: 25px;
    cursor: pointer;
    font-weight: bold;
    list-style: none;
    padding-left: 9px;
}
.status_for_user ul li:hover{
    background-color: rgb(58, 114, 244, 0.6);
    color: white;
}

/* СТИЛИ СТАТУСА РЕГИСТРАЦИИ НОВОГО ПОЛЬЗОВАТЕЛЯ */
div.success,
p.success,
div.error,
p.error {
  background-color: lighten(#87bf0a, 50%);
  font-size: 0.8em;
  padding: 5px;
  color: #87bf0a;
  font-weight: bold;
  text-align: center;
}
div.error,
p.error {
  color: #e82c0c;
  font-weight: bold;
  text-align: center;
}
input.error{
    border: 1px solid #e82c0c;
    background-color: #ffc8bf;
}

/* АВТОРИЗАЦИЯ */
.body_login{
    background-color: #202533;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}
.form_login_div{
    margin: auto;
    margin-top: 13%;
    width: 25%;
    min-width: 330px;
    height: 32%;
    min-height: 300px;
    text-align: center;
    background-color: #1a1e28;
}
.page_title{
    color: black;
    font-size: 20;
    font-weight: bold;
    padding-bottom: 4%;
    padding-top: 4%;
    margin-bottom: 4%;
    color: white;
    background-color: #12151c;
    border-bottom: 2px solid #1a4a99;
}
.input_login_div{
    width: 300px;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    
}
.input_aut{
    border: 1px solid black;
    height: 50px;
    width: 300px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    font-size: 15;
    color: deepskyblue;
    font-weight: bold;
}
.button_div{
    width: 300px;
    height: 45px;
    color: white;
    background-color: rgb(100, 149, 237, 1);
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    margin-top:10%;
    border: none;
    font-size: 16px;
    
}
.button_div:hover{
    background-color: rgb(100, 149, 237, 0.8);
}


/* НОВЫЙ КАНДИДАТ - В ПОСЛЕДСТВИИ, СКОРЕЕ ВСЕГО НЕ ПРИГОДИТСЯ*/
.body_new_candidate{
    font-family: 'Montserrat', sans-serif;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    height: auto;
}
.div_document{
    width: 50%;
    min-width: 920px;
    min-height: 600px;
    background-color: white;
    box-shadow: -18px 0px 20px -20px #333, 
                 18px 0px 20px -20px #333,
                 0px 10px 20px -20px #333,
                 0px -10px 20px -20px #333;
    padding: 40px 80px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
}
.row_candidate{
    display: flex;
    width: 100%;
    margin: 50px 0px
}
.row_splin{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    border-bottom: 1px solid lightgray;
}
.column_candidate{
    width: 50%;
    padding: 0% 2.5%;
}
.column_candidate_center{
    width: 95%;
    padding: 0px 2.5%;
    text-align: center;
}
.column_candidate_maxwidth{
    width: 100%;
    padding: 0px 2.5%;
}
.column_title{
    margin-bottom: 18px;
}
.column_title_sub{
    margin-bottom: 3px;
}
.column_title h3{
    font-weight: 600;
    font-size: 17px;
}
.column_title_sub h3{
    font-weight: 600;
    font-size: 17px;
}
h3.sub_title_true{
    margin-bottom: -3px;
}
.column_body{
    display: flex;
    flex-direction: row;
}
.select_candidate{
    width: 100%;
    height: 55px;
    font-size: 17px;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
}
#rec_filter{
    height: 40px;
}
.input_candidate {
    width: 100%;
    height: 55px;
    font-size: 17px;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    color: #000;
}
span.red_span {
    color: red;
    margin-left: 5px;
    margin-right: 5px;
}
span.span_forexample{
    color: dimgray;
    font-size: 12px;
    font-weight: 500;
}
.column_candidate_block {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.level_checkbox{
    width: 40px;
    height: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.level_label{
    cursor: pointer;
}
.textarea_candidate {
    width: 100%;
    height: 150px;
    resize: none;
    font-size: 19px;
    padding: 10px 10px 10px 20px;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
}
.button_candidate{
    text-transform: uppercase;
    border: none;
    background: linear-gradient(to bottom right, #0063bc, #24bbf2);
    color: white;
    font-weight: bold;
    width: 250px;
    height: 70px;
    border-radius: 35px;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    outline: none;
}
.button_candidate:hover{
    background: linear-gradient(to top left, #0063bc, #24bbf2);
}
/* РЕКРУТЕРЫ - СОЗДАНИЕ НОВОГО*/
.rec_body{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    min-width: 500px;
    box-shadow: -18px 0px 20px -20px #333, 
                 18px 0px 20px -20px #333;
    padding-top: 30px;
}
.rec_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rec_row .rec_column{
    width: 100%;
    margin: 20px 40px;
}
.rec_column .column_body .select_candidate{
    width: 100%;
    height: 40px;
    font-size: 17px;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
}
.rec_column .column_body .input_candidate{
    width: 100%;
    height: 40px;
    font-size: 17px;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    color: #000;
    text-align: left;
}
/* МОДАЛЬНОЕ ОКНО С ФОНОМ */
.modal_back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 28, 27, 0.818);
    z-index: 1000;
}
.modal_back_edit{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 28, 27, 0.818);
    z-index: 1000;
}
.modla_back_remove{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 28, 27, 0.818);
    z-index: 1000;
}
.modal_main{
    position: absolute;
    top: 10%;
    left: 35%;
    width: 30%;
    height: 10%;
    min-width: 350px;
    min-height: 300px;
    background-color: white;
    padding: 50px 50px;
    text-align: center;
}
.modal_line_title{
    font-weight: bold;
    font-size: 20;
    margin-bottom: 50px;
    text-align: center;
}
.modal_line_success{
    font-size: 17;
    text-align: center;
    height: 30%;
    color: #87bf0a;
    font-weight: bold;
}
.modal_line_error{
    font-size: 17;
    text-align: center;
    height: 30%;
    color: #e82c0c;
    font-weight: bold;
}
.modal_button_s{
    margin-top: 30px;
    height: 50px;
    width: 50%;
    color: white;
    background-color: #86bf0ad7;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.modal_button_e{
    margin-top: 30px;
    height: 50px;
    width: 50%;
    color: white;
    background-color: #e82d0cd5;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.modal_button_e:hover{
    background-color: #e82d0c;
}
.modal_button_s:hover{
    background-color: #86bf0a;
}

/* РЕДАКТИРОВАНИЕ РЕКРУТЕРА*/
.rec_bloc_edit{
    width: 90%;
    margin: auto;
    padding: 20px;
}
.table_rec_edit{
    width: 100%;
    border-collapse: collapse;
}
.table_rec_edit thead{
    text-align: left;
    background-color: #32353a;
    border-radius: 5px;
    
}
.table_rec_edit thead th{
    height: 50px;
    padding-left: 10px;
    color: white;
}
.table_rec_edit thead th:first-child{
    border-top-left-radius: 8px;
}
.table_rec_edit thead th:last-child{
    border-top-right-radius: 8px;
}
.table_rec_edit td{
    padding: 20px 10px;
}
.table_rec_edit tbody tr:hover{
    background-color: rgb(192, 210, 228, 0.5);
    cursor: default;
}
.icon_edit{
    width: 26px;
    cursor: pointer;
    transition: 0.5s;
}
.icon_edit:hover{
    transform: scale(1.3)
}
.icon_delete{
    width: 26px;
    cursor: pointer;
    transition: 0.5s;
}
.icon_delete:hover{
    transform: scale(1.3)
}
.icon_cancel{
    width: 26px;
    cursor: pointer;
    transition: 0.5s;
}
.icon_cancel:hover{
    transform: scale(1.3);
}
.false_status_row{
    background-color: rgba(255, 202, 202, 0.25);
}
.true_status_row{
    background-color: rgba(200, 248, 178, 0.459);
}
.open_recruiter{
    width: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.open_recruiter:hover{
    transform: scale(1.3)
}

/* МОДАЛЬНОЕ ОКНО ДЛЯ РЕДАКТИРОВАНИЯ РЕКРУТЕРА */
.modal_edit{
    width: 50%;
    height: 900px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    text-align: right;
    overflow: auto;
}
.close_modal_edit{
    position: fixed;
    width: 35px;
    cursor: pointer;
    margin-left: 17px;
}
.modal_edit_main{
    width: 100%;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
#save_recruiter{
    margin-top: 30px;
    height: 50px;
    width: 90%;
    color: white;
    background-color: #86bf0ad7;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}
#cancel_recruiter{
    margin-top: 30px;
    height: 50px;
    width: 90%;
    color: white;
    background-color: #e82d0cd5;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}
#save_recruiter:hover{
    background-color: #86bf0a;
}
#cancel_recruiter:hover{
    background-color: #e82d0c;
}

/* МОДАЛЬНОЕ ОКНО ДЛЯ УДАЛЕНИЯ РЕКРУТЕРА */
.modal_remove{
    position: absolute;
    top: 10%;
    left: 35%;
    width: 30%;
    height: 10%;
    min-width: 350px;
    min-height: 300px;
    background-color: white;
    padding: 50px 50px;
    text-align: center;
}
.modal_remove_line{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}
.modal_button_remove_s{
    margin-top: 30px;
    height: 50px;
    width: 40%;
    color: white;
    background-color: #86bf0ad7;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}
.modal_button_remove_e{
    margin-top: 30px;
    height: 50px;
    width: 40%;
    color: white;
    background-color: #e82d0cd5;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}
.modal_button_remove_e:hover{
    background-color: #e82d0c;
}
.modal_button_remove_s:hover{
    background-color: #86bf0a;
}

/* ОТОБРАЖЕНИЕ НОВЫХ КАНДИДАТОВ */
.body_worksheets{
    width: 90%;
    height: 850px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.open_worksheets{
    width: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.open_worksheets:hover{
    transform: scale(1.3)
}

/* МОДАЛЬНОЕ ОКНО ДЛЯ ПРОСМОТРА АНКЕТЫ КАНДИДАТА */
.modal_back_worksheets{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 28, 27, 0.818);
    z-index: 1000;
}
.modal_worksheets{
    width: 50%;
    height: 900px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    text-align: right;
    overflow: auto;
}
.modal_worksheets_main{
    width: 100%;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.close_modal_worksheets{
    position: fixed;
    width: 35px;
    cursor: pointer;
    margin-left: 17px;
}
#save_worksheets{
    margin-top: 30px;
    height: 50px;
    width: 90%;
    color: white;
    background-color: #86bf0ad7;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}
#cancel_worksheets{
    margin-top: 30px;
    height: 50px;
    width: 90%;
    color: white;
    background-color: #e82d0cd5;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}
#save_worksheets:hover{
    background-color: #86bf0a;
}
#cancel_worksheets:hover{
    background-color: #e82d0c;
}

/* ФИЛЬТР ДЛЯ АНКЕТ */
.block_filter{
    width: 70%;
    height: 95%;
    min-height: 800px;
    padding: 50px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
}
.parameter_filter{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 100px;
    padding-top: 20px;
    text-align: center;
}
#button_filter{
    width: 200px;
    height: 50px;
    border: none;
    background-color: #0064bcd2;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
}
#button_filter:hover{
    background-color: #0064bc;
}
.block_filter_title{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.select_filter{
    width: 25%;
    min-width: 200px;
    height: 50px;
    margin-right: 30px;
    font-size: 16px;
    padding-left: 20px;

}

/* СТИЛИ ДЛЯ СТАТИСТИКИ */
.main_stat{
    width: 90%;
    height: 95%;
    margin: auto;
}
.first_diagramm{
    width: 100%;
    height: 50%;
    margin: auto;
}
.title_stat{
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    border-bottom: 1px solid rgb(71, 71, 71);
}
.left_title_stat{
    width: 75%;
    padding-left: 7%;
}
.right_title_stat{
    width: 25%;
    display: flex;
    flex-direction: row;
}
.parametr_stat{
    width: 100%;
    min-width: 80px;
    height: 30px;
    cursor: pointer;
    outline: none;
    background-color: white;
    border: 1px solid black;
    border-collapse: none;
    font-weight: 600;
}
.div_after_tooltip{
    width: 30%;
}
#title_year_stat{
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#title_month_stat{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#title_year_stat_one{
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#title_month_stat_one{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.parametr_stat:hover{
    color: white;
    background-color: #2f323a;
}
#title_year_stat:hover + #tooltip_year{
    display: flex;
}
#title_month_stat:hover + #tooltip_month{
    display: flex;
}
#title_year_stat_one:hover + #tooltip_year{
    display: flex;
}
#title_month_stat_one:hover + #tooltip_month{
    display: flex;
}
.tooltip{
    position: fixed;
    display: none;
    flex-direction: row;
    width: 101px;
    height: auto;
    z-index: 1000;
    background-color: #2f323a;
    color: #fff;
    border-radius: 5px;
}
.tooltip::-webkit-scrollbar{
    width: 4px;
}
.tooltip::-webkit-scrollbar-track { 
    background-color:#32312e; 
    box-shadow:0px 0px 3px #000 inset; 
} 
.tooltip::-webkit-scrollbar-thumb { 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    background-color:#ffcb17; 
    box-shadow:0px 1px 1px #fff inset; 
    background-image:url('https://yraaa.ru/_pu/24/59610063.png'); 
    background-position:center; 
    background-repeat:no-repeat; 
} 

.tooltip:hover{
    display: flex;
}
.tooltip ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s;
}
.tooltip ul li:hover{
    transform: scale(1.2);
    color: #0063bc;
    font-weight: bold;
}
.tooltip_left{
    width: 100%;
    text-align: center;
}
.tooltip_right{
    width: 100%;
    text-align: center;
}
.main_stat table{
    margin-top: 30px;
    margin-bottom: 200px;
}
.main_stat table thead {
    background-color: rgb(197, 197, 197);
}
.main_stat table th {
    color: #000;
}
.main_stat table td:last-child{
    text-align: center;
}
.main_stat table th:last-child{
    text-align: center;
}

h2{
    cursor: pointer;
}