<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HR Network</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles_landing.css">
    </head>
    <body>
        <div class="block_two_div_menu" style="display: none;">
            <button class="block_two_menu">
                <img src="images/landing/burger.png" alt="">
                <img src="images/landing/MENU.png" alt="Меню">
            </button>
        </div>
        <div class="ellips" id="main_animation">
            <div class="ellips_wave" id="one_wave"> </div>
            <div class="ellips_one">
                <img src="images/landing/logo.png" style="width: 200px;">
            </div>
            
            <div class="ellips_two">
                <div class="el_min" id="min_o_o"></div>
                <div class="el_min" id="min_o_t"></div>
                <div class="el_min o_o" id="min_o_th"></div>
                <div class="el_min o_t" id="min_o_f"></div>
            </div>
            <div class="ellips_three">
                
            </div>
            <div class="ellips_four">
                
            </div>
            <div class="ellips_five"> </div>
            
        </div>
        <div class="container">
            <div class="block_one" id="item_one">
                <div class="header">
                    <div class="header_left">
                        <img src="images/landing/logo.png">
                    </div>
                    <div class="header_right_menu">
                        <ul>
                            <a href="#item_two"><li>База кандидатов</li></a>
                            <a href="#item_three"><li>Генератор вакансий</li></a>
                            <a href="#item_four"><li>Курсы онлайн</li></a>
                            <a href="#item_five"><li>О нас</li></a>
                            <a href="#item_six"><li>Контакты</li></a>
                        </ul>
                    </div>
                    <div class="header_right_lang">
                        <ul>
                            <li id="language_ru">RU</li>
                            <li id="language_en">EN</li>
                        </ul>
                    </div>
                </div>
                <div class="consult">
                    <h1>Персональная HR Команда</h1>
                    <button class="button_white" id="get_consult">Получить консультацию</button>
                </div>
            </div>
            <div class="block_two" id="item_two">
                <div class="block_two_title">Фильтрация анкет</div>
                <div class="block_two_filter">
                    <div class="filter_item">
                        Поиск по специализации
                        <select name="select_directions" id="directions_filter" class="block_select">
                        </select>
                    </div>
                    <div class="filter_item">
                        Поиск по локации
                        <select name="select_directions" id="locations_filter" class="block_select">
                        </select>
                    </div>
                    <div class="filter_item">
                        Опыт работы
                        <select name="select_directions" id="experiences_filter" class="block_select">
                            <option value="Выбрать" selected>Выбрать</option>
                            <option value="3-5 лет">3-5 лет</option>
                            <option value="6-9 лет">6-9 лет</option>
                            <option value="10-15 лет">10-15 лет</option>
                            <option value="15+ лет">15+ лет</option>
                        </select>
                    </div>
                    <div class="filter_item">
                        Период добавления
                        <select name="select_directions" id="period_filter" class="block_select">
                            <option value="Выбрать" selected>Выбрать</option>
                        </select>
                    </div>
                </div>
                <div class="block_worksheets">
                    <div class="mini_worksheet">
                        <div class="mini_worksheet_one">
                            <div class="icon_user"><img src="images/landing/Group.png" width="40px" height="54px"></div>
                        </div>
                        <div class="mini_worksheet_two">
                            <div class="mini_worksheet_two_title">Team Lead Node JS</div>
                            <div class="mini_worksheet_two_social">
                                <ul>
                                    <li><img src="images/landing/Russia.png"></li>
                                    <li>Russia, Moskow</li>
                                    <li> </li>
                                    <li><img src="images/landing/social/green.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/vk.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/git.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/LinkedIn.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/google.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/facebook.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/telegram.png" alt="" class="social_icon"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="mini_worksheet_three">
                            <span class="blue_money">$4000</span>/в месяц
                        </div>
                        <div class="mini_worksheet_splin">

                        </div>
                        <div class="mini_worksheet_four">
                            <button class="blue_button" type="button" name="button_open_worksheet" id="1113"> Открыть анкету</button>
                        </div>
                    </div>
                    <div class="mini_worksheet">
                        <div class="mini_worksheet_one">
                            <div class="icon_user"><img src="images/landing/Group.png" width="40px" height="54px"></div>
                        </div>
                        <div class="mini_worksheet_two">
                            <div class="mini_worksheet_two_title">Team Lead Node JS</div>
                            <div class="mini_worksheet_two_social">
                                <ul>
                                    <li><img src="images/landing/Russia.png"></li>
                                    <li>Russia, Moskow</li>
                                    <li> </li>
                                    <li><img src="images/landing/social/green.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/vk.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/git.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/LinkedIn.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/google.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/facebook.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/telegram.png" alt="" class="social_icon"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="mini_worksheet_three">
                            <span class="blue_money">$4000</span>/в месяц
                        </div>
                        <div class="mini_worksheet_splin">

                        </div>
                        <div class="mini_worksheet_four">
                            <button class="blue_button" type="button" name="button_open_worksheet" id="2223"> Открыть анкету</button>
                        </div>
                    </div>
                    <div class="mini_worksheet">
                        <div class="mini_worksheet_one">
                            <div class="icon_user"><img src="images/landing/Group.png" width="40px" height="54px"></div>
                        </div>
                        <div class="mini_worksheet_two">
                            <div class="mini_worksheet_two_title">Team Lead Node JS</div>
                            <div class="mini_worksheet_two_social">
                                <ul>
                                    <li><img src="images/landing/Russia.png"></li>
                                    <li>Russia, Moskow</li>
                                    <li> </li>
                                    <li><img src="images/landing/social/green.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/vk.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/git.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/LinkedIn.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/google.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/facebook.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/telegram.png" alt="" class="social_icon"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="mini_worksheet_three">
                            <span class="blue_money">$4000</span>/в месяц
                        </div>
                        <div class="mini_worksheet_splin">

                        </div>
                        <div class="mini_worksheet_four">
                            <button class="blue_button" type="button" name="button_open_worksheet" id="3332"> Открыть анкету</button>
                        </div>
                    </div>
                    <div class="mini_worksheet">
                        <div class="mini_worksheet_one">
                            <div class="icon_user"><img src="images/landing/Group.png" width="40px" height="54px"></div>
                        </div>
                        <div class="mini_worksheet_two">
                            <div class="mini_worksheet_two_title">Team Lead Node JS</div>
                            <div class="mini_worksheet_two_social">
                                <ul>
                                    <li><img src="images/landing/Russia.png"></li>
                                    <li>Russia, Moskow</li>
                                    <li> </li>
                                    <li><img src="images/landing/social/green.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/vk.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/git.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/LinkedIn.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/google.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/facebook.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/telegram.png" alt="" class="social_icon"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="mini_worksheet_three">
                            <span class="blue_money">$4000</span>/в месяц
                        </div>
                        <div class="mini_worksheet_splin">

                        </div>
                        <div class="mini_worksheet_four">
                            <button class="blue_button" type="button" name="button_open_worksheet" id="4443"> Открыть анкету</button>
                        </div>
                    </div>
                    <div class="mini_worksheet">
                        <div class="mini_worksheet_one">
                            <div class="icon_user"><img src="images/landing/Group.png" width="40px" height="54px"></div>
                        </div>
                        <div class="mini_worksheet_two">
                            <div class="mini_worksheet_two_title">Team Lead Node JS</div>
                            <div class="mini_worksheet_two_social">
                                <ul>
                                    <li><img src="images/landing/Russia.png"></li>
                                    <li>Russia, Moskow</li>
                                    <li> </li>
                                    <li><img src="images/landing/social/green.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/vk.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/git.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/LinkedIn.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/google.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/facebook.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/telegram.png" alt="" class="social_icon"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="mini_worksheet_three">
                            <span class="blue_money">$4000</span>/в месяц
                        </div>
                        <div class="mini_worksheet_splin">

                        </div>
                        <div class="mini_worksheet_four">
                            <button class="blue_button" type="button" name="button_open_worksheet" id="5553"> Открыть анкету</button>
                        </div>
                    </div>
                    <div class="mini_worksheet">
                        <div class="mini_worksheet_one">
                            <div class="icon_user"><img src="images/landing/Group.png" width="40px" height="54px"></div>
                        </div>
                        <div class="mini_worksheet_two">
                            <div class="mini_worksheet_two_title">Team Lead Node JS</div>
                            <div class="mini_worksheet_two_social">
                                <ul>
                                    <li><img src="images/landing/Russia.png"></li>
                                    <li>Russia, Moskow</li>
                                    <li> </li>
                                    <li><img src="images/landing/social/green.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/vk.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/git.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/LinkedIn.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/google.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/facebook.png" alt="" class="social_icon"></li>
                                    <li><img src="images/landing/social/telegram.png" alt="" class="social_icon"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="mini_worksheet_three">
                            <span class="blue_money">$4000</span>/в месяц
                        </div>
                        <div class="mini_worksheet_splin">

                        </div>
                        <div class="mini_worksheet_four">
                            <button class="blue_button" type="button" name="button_open_worksheet" id="6663"> Открыть анкету</button>
                        </div>
                    </div>
                </div>
                <div class="mini_worksheet_button_line">
                    <button class="button_mini_line" id="button_new_candidate">
                        <img src="images/landing/insertcandidate.png" alt="">
                        <span class="text_in_button_block_two">Внести кандидата в базу</span>
                    </button>
                    <button id="view_plus_mini">
                        <div>
                            <img src="images/landing/rotate.png" alt="" class="circe_view">
                            <span class="text_in_button_block_two">Смотреть еще</span>
                        </div>
                    </button>
                    <button class="button_mini_line" id="three_button_mini">
                        <img src="images/landing/notice.png" alt="">
                        <span class="text_in_button_block_two">Уведомление по параметрам</span>
                    </button>
                </div>
            </div>
            <div class="block_three" id="item_three">
                
                <div class="block_two_title">Генератор презентаций вакансии</div>
                <div class="universal_content_for_block">
                <div class="universal_left_right">
                        <div class="universal_left">
                            <div class="universal_title">Текст заголовка #1</div>
                            <div class="universal_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exсercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            <div class="video_instruction">
                                <div class="button_video_instruction">
                                    <div class="ellips_play_three">
                                        <div class="ellips_play_two">
                                            <div class="ellips_play_one">
                                                <img src="images/landing/play.png" alt="" class="play_icon">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text_video_instruction">Смотреть видео-инструкцию</div>
                            </div>
                        </div>
                        <div class="universal_right"><img src="images/landing/MacBook.png" alt=""></div>
                    </div>
                    <div class="universal_bottom">
                        <button class="blue_button">Создать вакансию</button>
                    </div>
                </div>
            </div>
            <div class="block_four" id="item_four">
                <div class="block_two_title">5 дней обучения</div>
                <div class="universal_content_for_block">
                <div class="universal_left_right">
                        <div class="universal_left">
                            <div class="universal_title">IT рекрутер</div>
                            <div class="universal_text">
                                <p>Шаг за шагом начинающий рекрутер проводит работу на результат! Создает основу своей деятельности в рекрутинге - база кандидатов, ресечинг.</p>
                                <p>В обучении участвуют "живые" вакансии! - те, которые нужно закрывать уже сейчас. Это значит, что если ваш кандидат будет принят работодателем вы гарантированно получите % от его месячного оклада. </p>
                                <h4>Программа обучения разбита на 3 основых этапа:</h4>
                                <div class="universal_step">
                                    <div class="universal_step_item">
                                        <div class="universal_step_ellips_three">
                                            <div class="universal_step_ellips_two">
                                                <div class="universal_step_ellips_one">01</div>
                                            </div>
                                        </div>
                                        <div class="step_item_body">
                                            <p>Регистрация в сети</p>
                                            <p>Изучение вакансии с использованием памятки рекрутера</p>
                                            <p><img src="images/landing/clock.png" alt="">Время: 1 день</p>
                                        </div>
                                    </div>
                                    <div class="universal_step_splin"></div>
                                    <div class="universal_step_item">
                                        <div class="universal_step_ellips_three">
                                            <div class="universal_step_ellips_two">
                                                <div class="universal_step_ellips_one">02</div>
                                            </div>
                                        </div>
                                        <div class="step_item_body">
                                            <p>Поиск и добавление кандидатов в созданные профили. Работа с таблицей.</p>
                                            <p>Используем скрипты для общения</p>
                                            <p><img src="images/landing/clock.png" alt="">Время: 2-3 дня</p>
                                        </div>
                                    </div>
                                    <div class="universal_step_splin"></div>
                                    <div class="universal_step_item">
                                        <div class="universal_step_ellips_three">
                                            <div class="universal_step_ellips_two">
                                                <div class="universal_step_ellips_one">03</div>
                                            </div>
                                        </div>
                                        <div class="step_item_body">
                                            <p>Составление анкеты по кандидатам и отправка в базу</p>
                                            <p><img src="images/landing/clock.png" alt="">Время: 1 день</p>
                                        </div>
                                    </div>
                                </div>
                                <h4>По итогам интенсива команда “HR Network” готова предложить трудоустройство в нашем онлайн портале! Вы будете работать на рынках СНГ, Европы, ОАЭ, США и др.</h4>
                            </div>
                        </div>
                        <div class="universal_right"><img src="images/landing/MacBook.png" alt=""></div>
                    </div>
                    <div class="universal_bottom">
                        <button class="blue_button" id="button_it_recruiter">Подать заявку</button>
                    </div>
                </div>
            </div>
            <div class="block_five">
                <div class="block_per_block"></div>
                <div class="block_five_universal">
                    <div class="five_universal_left">
                        <img src="images/landing/girl.png" alt="" height="816px">
                    </div>
                    <div class="five_universal_right">
                        <h4>Мы долго шли к этому и очень рады, что неделю назад уже официально стартовал наш спец проект, совместно с БФ "Открытые Ладони" - <span>DO IT!</span></h4>
                        <p>В больницах Украины не хватает Компьютеров и Программного Обеспечения для полноценного лечения и обслуживания пациентов. Проект DO IT как раз и направлен на обеспечение таких больниц . Начинаем с тех заведений, которые занимаются лечением взрослых и деток с проблемами дыхания.</p>
                        <p>От каждого нашего вознаграждения от наших Клиентов, теперь мы перечисляем средства в проект DO IT!</p>
                        <p>Наши Клиенты - это ИТ Компании по всему миру и теперь мы вместе делаем этот мир лучше!</p>
                        <p>DO IT! находится в открытом доступе на Всеукраинской Бирже Благотворительности (УББ):</p>
                        <div class="five_url">
                            <div class="five_circle_one"> </div>
                            <div class="five_circle_two"> </div>
                            <div class="five_circle_three"> </div>
                            <p><a href="https://ubb.org.ua/uk/special/22/" target="_blank"><span>https://ubb.org.ua/uk/special/22/</span></a></p>
                        </div>
                        <p>И каждый из Вас может его поддержать, если Вы не являетесь нашим Клиентом.</p>
                        <p>Спасибо Всем и Желаем Добра!</p>
                        <p>С Уважением, </p>
                        <p>Команда HR Network</p>
                        <div class="video_instruction">
                            <div class="button_video_instruction">
                                <div class="ellips_play_three">
                                    <div class="ellips_play_two">
                                        <div class="ellips_play_one">
                                            <img src="images/landing/play.png" alt="" class="play_icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text_video_instruction">Смотреть видеоролик</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_six" id="item_five">
                <div class="world_map">
                    <img src="images/landing/world_map.png" alt="">
                </div>
                <div class="block_six_title">
                    <div class="six_title_left">
                        Кто мы такие?
                    </div>
                    <div class="six_title_right">
                        <p>HR Network was initially set up in 2016 by experts specialized on IT recruitment for the last 7 years. <br>We work with Eastern Europe, Europe and the Middle East.</p>
                    </div>
                </div>
                <div class="six_line_one">
                    <div class="six_line_one_item">
                        <p>Our vision</p>
                        <p>We craft an impactful service to our clients and candidates. We dare to create and deliver Innovative IT Recruitment Service.</p>
                    </div>
                    <div class="six_line_one_item">
                        <p>Our Values: Integrity</p>
                        <p>We follow high standards of professional and personal ethics. We embrace honesty and trust.</p>
                    </div>
                    <div class="six_line_one_item">
                        <p>Our Values: Respect</p>
                        <p>We treat our clients and candidates with fairness and uncompromised respect.</p>
                    </div>
                    <div class="six_line_one_item">
                        <p>Our Values: Responsibility</p>
                        <p>We deliver our commitment to clients and candidates, being reliable and value added.</p>
                    </div>
                </div>
                <div class="six_splin"> </div>
                <div class="six_line_two">
                    <div class="six_line_two_left">
                        24 / 7 / 365
                    </div>
                    <div class="six_line_two_right">
                        <p>Our Recruiters are located in different countries: Ukraine, Russia, Belarus, <br>Germany, UAE which allows us to be available 24/7/365</p>
                    </div>
                </div>
                <div class="six_white_block">
                    <div class="block_two_title">Our services</div>
                    <div class="six_white_block_table">
                        <div class="six_white_block_table_left">
                            <div class="white_table_item">
                                <p>Research</p>
                                <p>We do fast and efficient market <br> research and pre-selection</p>
                            </div>
                            <div class="white_table_horizontal_splin"> </div>
                            <div class="white_table_item">
                                <p>Cross Posting</p>
                                <p>We do Cross Posting of your <br> Vacancy in our Social Network: <br> Twitter, Facebook, Telegram</p>
                            </div>
                            <div class="white_table_horizontal_splin"> </div>
                            <div class="white_table_item">
                                <p>Database</p>
                                <p>You may also use our existing <br> expert Database (test mode)</p>
                            </div>
                        </div>
                        <div class="six_white_block_table_right">
                            <div class="white_table_item">
                                <p>Primal Interview</p>
                                <p>We do screening of the Candidates <br> and evaluation for relevancy and <br>risk analysis purposes</p>
                            </div>
                            <div class="white_table_horizontal_splin"> </div>
                            <div class="white_table_item">
                                <p>E-mail blasting</p>
                                <p>We send away e-mails to relevant <br> contacts within our expert <br> database</p>
                            </div>
                            <div class="white_table_horizontal_splin"> </div>
                            <div class="white_table_item">
                                <p>Presentation</p>
                                <p>We act as your Ambassador, <br> presenting your vacancy and <br> project. We excite the people!</p>
                            </div>
                        </div>
                        <div class="six_white_block_table_bottom">
                            <img src="images/landing/pile_images.png" alt="">
                            <img src="images/landing/after_pile.png" alt="">
                            <p>For our clients we intent to be more than just a Recruitment. <br> Together with HR Services we provide with Complimentary <br> Marketing to strengthen an Employer Brand.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_seven">
                <div class="block_two_title">Our process is easy</div>
                <div class="block_seven_second_title">
                    <p>Современные технологие позволяют сократить время и стоимость поиска <br> кандидатов в несколько раз. Рекрутинг с HR Network — это просто и быстро! </p>
                </div>
                <div class="block_seven_carousel">
                    <div class="carousel_item">
                        <div class="carousel_number">1</div>
                        <div class="carousel_ellips_two">
                            <div class="carousel_ellips_one">
                                <img src="images/landing/handshake.png" alt="" >
                            </div>
                        </div>
                        <div class="carousel_text">
                            <p>Agreement</p>
                            <p>We sign an Agreement and receive <br> full details of the vacancy*</p>
                        </div>
                    </div>
                    <div class="carousel_item" style="display:none;">
                        <div class="carousel_number">2</div>
                        <div class="carousel_ellips_two">
                            <div class="carousel_ellips_one">
                                <img src="images/landing/file_uup.png" alt="" >
                            </div>
                        </div>
                        <div class="carousel_text">
                            <p>Information</p>
                            <p>We receive from you photos of <br> your office, team, links on articles etc</p>
                        </div>
                    </div>
                    <div class="carousel_item">
                        <div class="carousel_number">3</div>
                        <div class="carousel_ellips_two">
                            <div class="carousel_ellips_one">
                                <img src="images/landing/prezi.png" alt="" >
                            </div>
                        </div>
                        <div class="carousel_text">
                            <p>Presentation</p>
                            <p>We create a Presentation of the Vacancy and impress the candidate</p>
                        </div>
                    </div>
                    <div class="carousel_item" style="display:none;">
                        <div class="carousel_number">4</div>
                        <div class="carousel_ellips_two">
                            <div class="carousel_ellips_one">
                                <img src="images/landing/microphone.png" alt="" >
                            </div>
                        </div>
                        <div class="carousel_text">
                            <p>Interview</p>
                            <p>We pass to you the Candidates CVs <br> with full details and organise interviews</p>
                        </div>
                    </div>
                    <div class="carousel_item">
                        <div class="carousel_number">5</div>
                        <div class="carousel_ellips_two">
                            <div class="carousel_ellips_one">
                                <div class="dot_ell"> </div>
                            </div>
                        </div>
                        <div class="carousel_text">
                            <p>Successful Hire</p>
                            <p>We follow up and support during the whole recruitment process until successful hire</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_eaght">
                <div class="block_two_title">Testimonials</div>
                <div class="block_reviews">
                    <div class="arrow_left" id="arrow_left">
                        <img src="images/landing/arrow.png" alt="">
                    </div>
                    <div class="block_rewiews_rewiew">
                        <div class="rewiew_icon_ellips" id="rew_image">
                            <img src="images/landing/user_rewiew.png" alt="">
                        </div>
                        <div class="rewiew_name_company" id="rew_name">
                            <p id="name_rew">Ваше имя будет здесь</p>
                            <span>Название вашей компании</span>
                        </div>
                        <div class="rewiew_text" id="rew_text">Текст вашего отзыва. Спасибо что оставите его для нас</div>
                    </div>
                    <div class="block_rewiews_item">
                        <div class="rewiews_item_ellips">
                            <div class="rewiew_icon">
                                <img src="images/landing/user_rewiew.png" alt="">
                            </div>
                        </div>
                        <div class="rewiew_name">
                            <p>Фамилия Имя Отчество</p>
                        </div>
                        <div class="rewiew_company">Компания</div>
                    </div>
                    <div class="block_rewiews_item">
                        <div class="rewiews_item_ellips">
                            <div class="rewiew_icon">
                                <img src="images/landing/user_rewiew.png" alt="">
                            </div>
                        </div>
                        <div class="rewiew_name">
                            <p>Фамилия Имя Отчество</p>
                        </div>
                        <div class="rewiew_company">Компания</div>
                    </div>
                    <div class="block_rewiews_item">
                        <div class="rewiews_item_ellips">
                            <div class="rewiew_icon">
                                <img src="images/landing/user_rewiew.png" alt="">
                            </div>
                        </div>
                        <div class="rewiew_name">
                            <p>Фамилия Имя Отчество</p>
                        </div>
                        <div class="rewiew_company">Компания</div>
                    </div>
                    <div class="block_rewiews_item">
                        <div class="rewiews_item_ellips">
                            <div class="rewiew_icon">
                                <img src="images/landing/user_rewiew.png" alt="">
                            </div>
                        </div>
                        <div class="rewiew_name">
                            <p>Фамилия Имя Отчество</p>
                        </div>
                        <div class="rewiew_company">Компания</div>
                    </div>
                    <div class="arrow_right" id="arrow_right">
                        <img src="images/landing/arrow.png" alt="">
                    </div>
                </div>
                <div class="eaght_statusbar">
                    <div class="eaght_statusbar_active"> </div>
                </div>
                <div class="eaght_button_line">
                    <button class="blue_button" id="button_give_feedback">Оставить отзыв</button>
                </div>
            </div>
            <div class="block_nine" id="item_six">
                <div class="block_nine_left">
                    <div class="block_two_title">Get in touch</div>
                    <div class="block_seven_second_title">If you have any questions you can contact us:</div>
                    <div class="block_nine_contacts">
                    global@hrnetwork.com
                        <ul>
                            <li><img src="images/landing/icon_contacts/telegram.png" alt=""></li>
                            <li><img src="images/landing/icon_contacts/twitter.png" alt=""></li>
                            <li><img src="images/landing/icon_contacts/facebook.png" alt=""></li>
                            <li><img src="images/landing/icon_contacts/skype.png" alt=""></li>
                        </ul>
                    </div>
                    <div class="news_subscription">
                        <div class="news_subscription_title">Subsсribe to our newsletter</div>
                        <div class="news_subscription_form">
                            <input type="email" id="news_email" placeholder="Введите ваш E-mail">
                            <button id="news_subscribe">Подписаться</button>
                        </div>
                    </div>
                </div>
                <div class="block_nine_right">
                    <div class="nine_right_title">Связаться с нами</div>
                    <input type="text" id="contact_text" placeholder="Я пишу в этом поле">
                    <input type="email" id="contact_email" placeholder="Введите ваш E-mail адрес">
                    <button id="submit_contact">Отправить запрос</button>
                </div>
            </div>
            <div class="footer">
                <div class="footer_one">
                    Privacy Policy
                </div>
                <div class="footer_two">
                    <img src="images/landing/logo.png" alt="" width="170">
                </div>
                <div class="footer_three">
                    2018. All rights reserved
                </div>
            </div>
        </div>
        <div class="modal_block" style="display: none;"></div>
        <div class="modal_window" id="consultation" style="display: none;">
            <div class="modal_window_title">
                Забронировать консультацию
                <div class="ellips_close" id="consultation_close">
                    <img src="images/landing/close.png" alt="">
                </div>
            </div>
            <div class="modal_window_substrate"> </div>
            <div class="modal_window_white">
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Компания</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="consult_company">
                    </div>
                    <div class="modal_column">
                        <h3>Имя</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="consult_name">
                    </div>
                </div>
                <div class="modal_row_other_variant">
                    <div class="modal_column">
                        <h3>Мессенджер</h3>
                        <select class="select_modal" id="all_messenger_consult">
                        </select>
                        <input type="text" class="input_modal" placeholder="Название мессенджера" style="display: none;" id="other_messenger_consult">
                        <div class="other_messenger" id="view_other_messenger">
                            <img src="images/landing/plus_messenger.png" alt="" id="img_messenger_other">
                            <img src="images/landing/view_all.png" alt="" style="display: none;" id="img_messenger_all">
                            <div id="text_messenger">Добавить свой вариант</div>
                        </div>
                    </div>
                    <div class="modal_column">
                        <h3>Данные мессенджера</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="consult_data_messenger">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Адрес электронной почты</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="consult_email">
                    </div>
                    <div class="modal_column">
                        <h3>Удобное время для связи</h3>
                        <input type="time" class="input_modal" placeholder="Мой ответ" id="consult_time">
                    </div>
                </div>
                <div class="modal_row_textarea">
                    <div class="modal_column_max">
                        <h3>Дополительная информация</h3>
                        <textarea cols="30" rows="8" class="textarea_modal" placeholder="Мой ответ" id="consult_additional_info"></textarea>
                    </div>
                </div>
                <div class="modal_row_status" id="status_consultation_bok" style="opacity: 0; margin-top: 30px;">status</div>
                <div class="modal_row">
                    <button class="blue_button" id="consult_book">Забронировать</button>
                </div>
            </div>
        </div>
        <div class="modal_window" id="parameter_notifications" style="display: none;">
            <div class="modal_window_title">
                Уведомление по параметрам
                <div class="ellips_close" id="parameter_notifications_close">
                    <img src="images/landing/close.png" alt="">
                </div>
            </div>
            <div class="modal_window_substrate"> </div>
            <div class="modal_window_white">
                <div class="modal_row">
                    <p>Отметьте необходимые параметры.</p>
                    <p>Вы будете уведомлены при появлении соответствующего кандидата в базе HR Network.</p>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Место жительства кандидата <span>(Страна, город)</span></h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="not_residence">
                    </div>
                    <div class="modal_column">
                        <h3>Специальность кандидата</h3>
                        <button class="select_modal_button" id="not_button_directions">
                            <span>Нажмите чтобы выбрать...</span>
                            <div class="arrow-bottom"></div>
                        </button>
                        <div class="select_modal_items" id="directions_parametet" style="display: none;">
                            <ul>
                                <li><label class="select_items_label selected_all_sil"><input type="checkbox" class="select_items_ckeck_all">[ Выбрать все ]</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Уровень кандидата</h3>
                        <button class="select_modal_button" id="not_button_level">
                            <span>Нажмите чтобы выбрать...</span>
                            <div class="arrow-bottom"></div>
                        </button>
                        <div class="select_modal_items" id="level_parametet" style="display: none;">
                            <ul>
                                <li><label class="select_items_label selected_all_sil"><input type="checkbox" class="select_items_ckeck_all" value="all">[ Выбрать все ]</label></li>
                                <li><label class="select_items_label"><input type="checkbox" class="select_items_ckeck" value="Middle">Middle</label></li>
                                <li><label class="select_items_label"><input type="checkbox" class="select_items_ckeck" value="Senior">Senior</label></li>
                                <li><label class="select_items_label"><input type="checkbox" class="select_items_ckeck" value="Lead">Lead</label></li>
                                <li><label class="select_items_label"><input type="checkbox" class="select_items_ckeck" value="Ready Team">Ready Team</label></li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal_column">
                        <h3 class="modal_sub_title">Навыки кандидата</h3>
                        <span>HTML / CSS / JavaScript и тд. Разделитель " / " обязателен</span>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="not_skills">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3 class="modal_sub_title">Владение языками</h3>
                        <span>Русский / Английский и тд. Разделитель " / " обязателен</span>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="not_language">
                    </div>
                    <div class="modal_column"></div>
                </div>
                <div class="modal_splin"></div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Ваш адрес элетронной почты</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="not_email">
                    </div>
                    <div class="modal_column"></div>
                </div>
                <div class="modal_row_status" id="status_not_parameters" style="opacity: 0; margin-top: 30px;">status</div>
                <div class="modal_row">
                    <button class="blue_button" id="submit_not">Отправить</button>
                </div>
                <div class="modal_splin"></div>
                <div class="modal_row">
                    <img src="images/landing/logo_blue.png" alt="">
                    <p>We provide the search, selection and support of appropriate candidates for clients around the world.</p>
                    <p>Open unique opportunities for your resources!</p>
                </div>
            </div>
        </div>
        <div class="modal_window" id="new_candidate" style="display: none;">
            <div class="modal_window_title">
                Анкета кандидата
                <div class="ellips_close" id="new_candidate_close">
                    <img src="images/landing/close.png" alt="">
                </div>
            </div>
            <div class="modal_window_substrate"> </div>
            <div class="modal_window_white">
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Имя кандидата</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="name-c">
                    </div>
                    <div class="modal_column">
                        <h3>Специальность кандидата</h3>
                        <select id="directions-c" class="select_modal">
                        </select>
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Номер телефона кандидата</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="phone-c">
                    </div>
                    <div class="modal_column">
                        <h3>Адрес электронной почты кандидата</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="email-c">
                    </div>
                </div>
                <div class="modal_row_other_variant">
                    <div class="modal_column">
                        <h3>Мессенджер</h3>
                        <select class="select_modal" id="all_messenger_new">
                            <option value="whatsapp">WhatsApp</option>
                            <option value="viber">Viber</option>
                            <option value="telegram">Telegram</option>
                        </select>
                        <input type="text" class="input_modal" placeholder="Название мессенджера" style="display: none;" id="other_messenger_new">
                        <div class="other_messenger" id="view_other_messenger_new">
                            <img src="images/landing/plus_messenger.png" alt="" id="img_messenger_other_new">
                            <img src="images/landing/view_all.png" alt="" style="display: none;" id="img_messenger_all_new">
                            <div id="text_messenger_new">Добавить свой вариант</div>
                        </div>
                    </div>
                    <div class="modal_column">
                        <h3>Данные мессенджера</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="data_messenger-c">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Профиль в соц. сетях кандидата</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="social-c">
                    </div>
                    <div class="modal_column">
                        <h3>Профиль Linkedin кандидата</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="linkedin-c">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Место жительства<span> (Страна, город)</span></h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="residence-c">
                    </div>
                    <div class="modal_column">
                        <h3>Готовность к переезду в <span>(Страна, город)</span></h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="relocate-c">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column_max">
                        <h3>Уровень кандидата</h3>
                        <label class="modal_label"><input type="checkbox" value="Middle" name="level-c" id="middle_level" class="modal_checkbox">Middle</label>
                        <label class="modal_label"><input type="checkbox" value="Senior" name="level-c" id="senior_level" class="modal_checkbox">Senior</label>
                        <label class="modal_label"><input type="checkbox" value="Lead" name="level-c" id="lead_level" class="modal_checkbox">Lead</label>
                        <label class="modal_label"><input type="checkbox" value="Ready Team" name="level-c" id="team_level" class="modal_checkbox">Ready Team</label>
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Уровень заработной платы</h3>
                        <select class="select_modal" id="salary-c">
                            <option value="2000">2000$</option>
                            <option value="3000">3000$</option>
                            <option value="4000">4000$</option>
                        </select>
                    </div>
                    <div class="modal_column">
                        <h3>Опыт работы кандидата</h3>
                        <select class="select_modal" id="experiences-c">
                            <option value="3-5 лет">3-5 лет</option>
                            <option value="6-9 лет">6-9 лет</option>
                            <option value="10-15 лет">10-15 лет</option>
                            <option value="15+ лет">15+ лет</option>
                        </select>
                    </div>
                </div>
                <div class="modal_row_textarea">
                    <div class="modal_column_max">
                        <h3 class="modal_sub_title">На каких должностях работал</h3>
                        <span>Например: Старший Java Разработчик (5 лет 11 месяцев) ... и тд. Перечисляйте через знак "/"</span>
                        <textarea cols="30" rows="7" class="textarea_modal" placeholder="Мой ответ" id="w_experiences-c"></textarea>
                    </div>
                </div>
                <div class="modal_row_textarea">
                    <div class="modal_column_max">
                        <h3 class="modal_sub_title">Лучшие навыки</h3>
                        <span>Перечислите навыки через знак "/": OOP/Linux ... и тд.</span>
                        <textarea cols="30" rows="7" class="textarea_modal" placeholder="Мой ответ" id="best_skills-c"></textarea>
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Ссылка на портфолио</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="portfolio-c">
                    </div>
                    <div class="modal_column">
                        <h3 class="modal_sub_title">Уровень владения языками</h3>
                        <span>Например: Русский (родной) ... и тд.</span>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="language-c">
                    </div>
                </div>
                <div class="modal_row_textarea">
                    <div class="modal_column_max">
                        <h3 class="modal_sub_title">Дополнительная информация о кандидате</h3>
                        <span>Образование, сертификаты, курсы, хобби ... и тд.</span>
                        <textarea cols="30" rows="7" class="textarea_modal" placeholder="Мой ответ" id="additional-c"></textarea>
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                    <h3 class="modal_sub_title">Загрузка резюме</h3>
                        <span>Вставьте ссылку на документ из Google Drive</span>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="download-c">
                    </div>
                    <div class="modal_column">
                        <h3>Рекомендации</h3>
                        <label class="modal_label"><input type="checkbox" value="Yes" name="recomendation" id="recomendations-c" class="modal_checkbox">Yes</label>
                    </div>
                </div>
                <div class="modal_row_status" id="status_new_candidate" style="opacity: 0; margin-top: 30px;">status</div>
                <div class="modal_row">
                    <button class="blue_button" id="save_new_candidate">Отправить</button>
                </div>
                <div class="modal_splin"></div>
                <div class="modal_row">
                    <img src="images/landing/logo_blue.png" alt="">
                    <p>We provide the search, selection and support of appropriate candidates for clients around the world.</p>
                    <p>Open unique opportunities for your resources!</p>
                </div>
            </div>
        </div>
        <div class="modal_window" id="it_recruiter" style="display: none;">
            <div class="modal_window_title">
                Он-лайн IT рекрутинг
                <div class="ellips_close" id="it_recruiter_close">
                    <img src="images/landing/close.png" alt="">
                </div>
            </div>
            <div class="modal_window_substrate"> </div>
            <div class="modal_window_white">
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Ф. И. О.</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="it_rec_fio">
                    </div>
                    <div class="modal_column">
                        <h3>Skype ID</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="it_rec_skype">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Адрес электронной почты</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="it_rec_email">
                    </div>
                    <div class="modal_column">
                        <h3 class="modal_sub_title">Время на обучение</h3>
                        <span>Сколько сможете уделять времени на обучение?</span>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="it_rec_time">
                    </div>
                </div>
                <div class="modal_row_status" id="status_it_recruiter" style="opacity: 0; margin-top: 30px;">status</div>
                <div class="modal_row">
                    <button class="blue_button" id="submit_it_recruiter">Отправить</button>
                </div>
            </div>
        </div>
        <div class="modal_window" id="give_feedback" style="display: none;">
            <div class="modal_window_title">
                Оставить отзыв
                <div class="ellips_close" id="give_feedback_close">
                    <img src="images/landing/close.png" alt="">
                </div>
            </div>
            <div class="modal_window_substrate"> </div>
            <div class="modal_window_white">
                <div class="modal_row">
                    <div class="modal_column_max">
                        <h3>Ф. И. О.</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="fio-fideback">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Компания</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="company-r">
                    </div>
                    <div class="modal_column">
                        <h3>Должность</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="position-r">
                    </div>
                </div>
                <div class="modal_row_textarea">
                    <div class="modal_column_max">
                        <h3>Отзыв</h3>
                        <textarea cols="30" rows="7" class="textarea_modal" placeholder="Мой ответ" id="rewiew-r"></textarea>
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Фото представителя компании</h3>
                        <form method="POST" enctype="multipart/form-data" id="fileinfo">
                            <label for="upload_foto_node" class="modal_upload_foto">
                                <img src="images/landing/upload.png" alt="" id="upload_standart">
                                <img src="images/landing/ok.png" alt="" id="upload_ok" style="display: none;">
                                <img src="images/landing/error.png" alt="" id="upload_error" style="display: none;">
                                <span class="upload_foto_span">Загрузить</span>
                                <input type="file" id="upload_foto_node" id="file" name="file" accept="image/jpeg,image/png,image/gif">
                            </label>
                            <p id="upload_path" style="display: none;"></p>
                        </form>
                    </div>
                    <div class="modal_column" id="view_upload_foto">
                    </div>
                </div>
                <div class="modal_row_status" id="status_give_feedback" style="opacity: 0; margin-top: 30px;">status</div>
                <div class="modal_row">
                    <button class="blue_button" id="rewiew_submit">Отправить</button>
                </div>
            </div>
        </div>
        <div class="modal_window" id="show_worksheet" style="display: none;">
            <p id="hidden_id" hidden></p>
            <div class="modal_window_title">
                <div class="modal_title_info">
                    <div class="modal_title_icon">
                        <div class="icon_user"><img src="images/landing/Group.png" width="41px" height="54px"></div>
                    </div>
                    <div class="modal_title_body">
                        <div class="modal_sub_title_candidate"><p>Кандидат №1423</p></div>
                        <div class="modal_social">
                            <ul>
                                <li><img src="images/landing/social/green.png" alt="" class="social_icon"></li>
                                <li><img src="images/landing/social/vk.png" alt="" class="social_icon"></li>
                                <li><img src="images/landing/social/git.png" alt="" class="social_icon"></li>
                                <li><img src="images/landing/social/LinkedIn.png" alt="" class="social_icon"></li>
                                <li><img src="images/landing/social/google.png" alt="" class="social_icon"></li>
                                <li><img src="images/landing/social/facebook.png" alt="" class="social_icon"></li>
                                <li><img src="images/landing/social/telegram.png" alt="" class="social_icon"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ellips_close" id="show_worksheet_close">
                    <img src="images/landing/close.png" alt="">
                </div>
            </div>
            <div class="modal_window_substrate"> </div>
            <div class="modal_window_white">
                <div class="modal_row">
                    <div class="modal_column">
                        <p>Место жительсва</p>
                        <div class="text_and_image">
                            <img src="images/landing/Russia.png" alt="">
                            <h4>Россия, Екатеринбург</h4>
                        </div>
                    </div>
                    <div class="colum_split"> </div>
                    <div class="modal_column" id="salary_worksheet">
                        <p>Уровень заработной платы</p>
                        <h4>$3000 в месяц</h4>
                    </div>
                    <div class="colum_split"> </div>
                    <div class="modal_column" id="experiences_worksheet">
                        <p>Опыт работы</p>
                        <h4>7 - 10 лет</h4>
                    </div>
                </div>
                <div class="modal_splin"></div>
                <div class="modal_row">
                    <div class="modal_column_max" id="w_ex_worksheet">
                        <h4>Предыдущие должности</h4>
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column_max" id="skills_worksheet">
                        <h4>Навыки</h4>
                        <p>C# / ASP.NET MVC / ASP.NET Core / WebApi / NServiceBus / Entity Framework / T-SQL / TypeScript / AngularJS/2 / HTML / CSS / JavaScript/ LINQ / Silverlight / NUnit / Git / Agile / Visual Studio / SQL Magement Studio / PowerShell / Gerrit / Jenkins / Octopus / GitHub / Bootstrap / InDesign / ADO.NET / jQuery UI / XML / Tortoise SVN / Illustrator / Photoshop / MVVM)</p>
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column_max" id="language_worksheet">
                        <h4>Уровень владения языками</h4>
                        <p>Руссикий (родной)</p>
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column_max">
                        <h4>Рекомендации</h4>
                        <p>Что здесь должно быть мне совершенно не понятно! Надеюсь вы прольете свет на этот пункт</p>
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column_max" id="additional_worksheet">
                        <h4>Дополнительная информация</h4>
                        <p>В свободное время любит поиграть в футбол. Бег по утрам, вечерам, и во сне...</p>
                    </div>
                </div>
                <div class="modal_row">
                    <button class="blue_button" id="offer_job_button">Предложить вакансию</button>
                </div>
                <div class="modal_splin"></div>
                <div class="modal_row">
                    <img src="images/landing/logo_blue.png" alt="">
                    <p>We provide the search, selection and support of appropriate candidates for clients around the world.</p>
                    <p>Open unique opportunities for your resources!</p>
                </div>
            </div>
        </div>
        <div class="modal_thanks" id="show_thanks" style="display: none;">
            <div class="thanks_title">Спасибо!</div>
            <div class="thanks_body">Ваша заявка обрабатывается. Команда HR Network отправит к Вам соответствующие анкеты кандидатов при поступлении в онлайн базу.</div>
            <div class="ellips_close" id="thanks_close">
                <img src="images/landing/close.png" alt="">
            </div>
        </div>
        <div class="modal_window" id="recruiter_login" style="display: none;">
            <div class="modal_window_title">
                Авторизация рекрутера
                <div class="ellips_close" id="recruiter_login_close">
                    <img src="images/landing/close.png" alt="">
                </div>
            </div>
            <div class="modal_window_substrate"> </div>
            <div class="modal_window_white">
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Адрес электронной почты</h3>
                        <input type="email" class="input_modal" placeholder="Мой ответ" id="rec_login">
                    </div>
                    <div class="modal_column">
                        <h3>Пароль</h3>
                        <input type="password" class="input_modal" placeholder="Мой ответ" id="rec_password">
                    </div>
                </div>
                <div class="modal_row_status" id="status_recruiter_login" style="opacity: 0; margin-top: 30px;">status</div>
                <div class="modal_row">
                    <button class="blue_button" id="button_recruiter_login" style="margin-top: 0px;">Войти</button>
                </div>
                <div class="modal_row">
                    <p>Еще нет аккаунта? <span id="recruiter_register_button">Зарегистрировать</span></p>
                </div>
            </div>
        </div>
        <div class="modal_window" id="new_recruiter" style="display: none;">
            <div class="modal_window_title">
                Анкета рекрутера
                <div class="ellips_close" id="new_recruiter_close">
                    <img src="images/landing/close.png" alt="">
                </div>
            </div>
            <div class="modal_window_substrate"> </div>
            <div class="modal_window_white">
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Ф. И. О. </h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="fio-r">
                    </div>
                    <div class="modal_column">
                        <h3>Дата рождения</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="birthday-r">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Место жительства<span> (Страна, город)</span></h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="residence-r">
                    </div>
                    <div class="modal_column">
                        <h3>Номер телефона для связи</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="phone-r">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Skype ID</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="skype-r">
                    </div>
                    <div class="modal_column">
                        <h3>Профиль Linkedin</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="linkedin-r">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Предыдущее место работы / период</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="place_work-r">
                    </div>
                    <div class="modal_column">
                        <h3>Как долго работаете в IT напрвлении</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="time_work_it-r">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column_max">
                        <h3>Адрес электронной почты<span> Для авторизации в системе</span></h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="email-r">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Введите пароль<span> Для авторизации в системе</span></h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="password-r">
                    </div>
                    <div class="modal_column">
                        <h3>Подтвердите пароль<span> Для авторизации в системе</span></h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="password_confirm-r">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column_max">
                        <h3 class="modal_sub_title">Вакансии каких IT-направлений и уровней вы закрывали</h3>
                        <span> По каким направлениям вам удобно работать?</span>
                        <div class="modal_column_check">
                            <div class="modal_column_item">
                            </div>
                            <div class="modal_column_item">
                            </div>
                            <div class="modal_column_item">
                            </div>
                            <div class="modal_column_item">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <input type="text" class="input_modal" placeholder="Чего то нет в списке? Напишите здесь!" id="other_directions-r">
                    </div>
                    <div class="modal_column">
                        <button class="blue_button" style="margin: 0px; width: 200px; height: 50px;" id="add_new_direction">Добавить</button>
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column_max">
                        <h3>Какие источники вы используете при подборе кандидата?</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="source-r">
                    </div>
                </div>
                <div class="modal_row_textarea">
                    <div class="modal_column_max">
                        <h3>С какими компаниями сотрудничали? Готовы ли предоставить рекомендации? </h3>
                        <textarea cols="30" rows="7" class="textarea_modal" placeholder="Мой ответ" id="coop_com-r"></textarea>
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column_max">
                        <h3>Учебное заведение / дата окончания</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="school-r">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column_max">
                        <h3 class="modal_sub_title">Уровень владения языками</h3>
                        <span>Перечислите через запятую какими языками владеете: Украинский (родной) / Русский (общение) / Английский (fluent)</span>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="language-r">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column_max">
                        <h3 class="modal_sub_title">Реквизиты для оплаты</h3>
                        <span>Укажите ваши реквизиты, на которые вы хотите получать оплату за успешную работу</span>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="pay_details-r">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column_max">
                        <h3 class="modal_sub_title">Вы принимаете условия работы и гарантируете не разглашать их третьим лицам </h3>
                        <span>https://docs.google.com/document/d/13U0mI00wq7xYo4R3Pk_K3p3LdEySkmWfK417YD5mPFA/edit?usp=sharing</span>
                        <br>
                        <label class="modal_label"><input type="checkbox" value="Yes" id="not_divulge-к" class="modal_checkbox">Да</label>
                    </div>
                </div>
                <div class="modal_row_status" id="status_new_recruiter" style="opacity: 0;">status</div>
                <div class="modal_row" id="new_recruiter_row">
                    <button class="blue_button" id="save_new_recruiter">Отправить</button>
                </div>
                <div class="modal_splin"></div>
                <div class="modal_row">
                    <img src="images/landing/logo_blue.png" alt="">
                </div>
            </div>
        </div>
        <div class="modal_window" id="offer_job" style="display: none;">
            <div class="modal_window_title">
                Предложить вакансию
                <div class="ellips_close" id="offer_job_close">
                    <img src="images/landing/close.png" alt="">
                </div>
            </div>
            <div class="modal_window_substrate"> </div>
            <div class="modal_window_white">
                <div class="modal_row">
                    <div class="modal_column_max">
                        <h3>Ссылка на вакансию</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="link-offer">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Ваше имя</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="name-offer">
                    </div>
                    <div class="modal_column">
                        <h3>Ваши контакты</h3>
                        <input type="text" class="input_modal" placeholder="Мой ответ" id="contacts-offer">
                    </div>
                </div>
                <div class="modal_row">
                    <div class="modal_column">
                        <h3>Когда с вами связаться?</h3>
                        <button type="text" class="input_modal" placeholder="Мой ответ" id="calendar-offer">dd.mm.yyyy</button>
                        <table id="calendar2" style="display: none;">
                            <thead>
                              <tr><td>‹<td colspan="5"><td>›
                              <tr><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
                            <tbody>
                        </table>
                    </div>
                    <div class="modal_column">
                        <h3>В какое время</h3>
                        <input type="time" class="input_modal" placeholder="Мой ответ" id="time-offer">
                    </div>
                </div>
                <div class="modal_row_textarea">
                    <div class="modal_column_max">
                        <h3>Написать сообщение для HR Network</h3>
                        <textarea cols="30" rows="7" class="textarea_modal" placeholder="Мой ответ" id="message-offer"></textarea>
                    </div>
                </div>
                <div class="modal_row_status" id="status_offer_job" style="opacity: 0; margin-top: 30px;">status</div>
                <div class="modal_row">
                    <button class="blue_button" id="offer_job_submit">Отправить</button>
                </div>
            </div>
        </div>
        <div class="modal_menu_back" style="display: none;">
            <div class="modal_menu" style="display: none;">
                <div class="modal_menu_close">
                    <div class="modla_menu_ellips">
                        <img src="/images/landing/close_big.png" alt="">
                    </div>
                </div>
                <div class="modal_menu_item">
                    <ul>
                        <a href="#item_one"><li>Консультация</li></a>
                        <a href="#item_two"><li>База кандидатов</li></a>
                        <a href="#item_three"><li>Генератор вакансий</li></a>
                        <a href="#item_four"><li>Курсы онлайн</li></a>
                        <a href="#item_five"><li>О нас</li></a>
                        <a href="#item_six"><li>Контакты</li></a>
                    </ul>
                </div>
                <div class="modal_menu_language">
                    <table>
                        <tr>
                            <td>Язык интерфеса:</td>
                            <td class="ru"><div class="active_l">RU</div></td>
                            <td class="en"><div>EN</div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="block_menu" style="display: none;">
            <ul>
                <li>Консультация</li>
                <li>База кандидатов</li>
                <li>Генератор вакансий</li>
                <li>Курсы онлайн</li>
                <li>О нас</li>
                <li> Контакты</li>
                <li>RU</li>
                <li>EN</li>
            </ul>
        </div>
        <div id="session_status" hidden><%= data.session_status %></div>
        <div id="session_rec_id" hidden><%= data.session_rec_id %></div>
    </body>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/scripts_landing.js"></script>
</html>