<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Network</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles_landing.css">
</head>
<body>
  <div class="ellips">
      <div class="ellips_one">
           <img src="/images/landing/logo.png" style="width: 200px;">
   </div>
      <div class="ellips_two">
         <div class="ellips_mini_three" id="two_one">
             <img src="/images/landing/social/vk.png" alt="">
         </div>
         <div class="ellips_mini_one" id="two_two">
             <img src="/images/landing/social/vk.png" alt="">
         </div>
         <div class="ellips_mini_two" id="two_three">
             <img src="/images/landing/social/vk.png" alt="">
         </div>
      </div>
      <div class="ellips_three">
          <div class="ellips_mini_one" id="three_two">
             <img src="/images/landing/social/vk.png" alt="">
         </div>
          <div class="ellips_mini_three" id="three_one">
             <img src="/images/landing/social/vk.png" alt="">
         </div>
         <div class="ellips_mini_two" id="three_three">
             <img src="/images/landing/social/vk.png" alt="">
         </div>
      </div>
      <div class="ellips_four">
          <div class="ellips_mini_three" id="four_one">
             <img src="/images/landing/social/vk.png" alt="">
         </div>
         <div class="ellips_mini_one" id="four_two">
             <img src="/images/landing/social/vk.png" alt="">
         </div>
         <div class="ellips_mini_two" id="four_three">
             <img src="/images/landing/social/vk.png" alt="">
         </div>
      </div>
      <div class="ellips_five"> </div>
  </div>
    <div class="container">
        <div class="block_one" id="item_one">
            <div class="header">
                <div class="header_left">
                    <img src="/images/landing/logo.png">
                </div>
                <div class="header_right_menu">
                    <ul>
                        <li id="active_item_main_menu">Консультация</li>
                        <a href="#item_two"><li>База кандидатов</li></a>
                        <a href="#item_three"><li>Генератор вакансий</li></a>
                        <a href="#item_four"><li>Курсы онлайн</li></a>
                        <a href="#item_five"><li>О нас</li></a>
                    </ul>
                </div>
                <div class="header_right_lang">
                    <ul>
                        <li id="language_ru">RU</li>
                        <li id="language_en">EN</li>
                    </ul>
                </div>
            </div>
            <div class="consult">
                <h1>Персональная HR Команда</h1>
                <button class="button_white" id="get_consult">Получить консультацию</button>
            </div>
        </div>
        <div class="block_two" id="item_two">
              <div class="block_two_div_menu">
              <div class="block_menu" style="display: none;">
                  <ul>
                      <a href="#item_one"><li>Консультация</li></a>
                      <li class="activ_item_block_menu">База кандидатов</li>
                      <a href="#item_three"><li>Генератор вакансий</li></a>
                      <a href="#item_four"><li>Курсы онлайн</li></a>
                      <a href="#item_five"><li>О нас</li></a>
                      <li id="language_ru">RU</li>
                      <li id="language_ru">EN</li>
                  </ul>
              </div>
               <button class="block_two_menu">
                   <img src="/images/landing/burger.png" alt="">
                   <img src="/images/landing/MENU.png" alt="Меню">
               </button>
           </div>
              <div class="block_two_title">Последние добавленные</div>
              <div class="block_two_filter">
                <div class="filter_item">
                    Поиск по специализации
                    <select name="select_directions" id="directions" class="block_select">
                        <option value="1">Разработчик</option>
                        <option value="2">Маркетолог</option>
                        <option value="3">Рекламщик</option>
                    </select>
                </div>
                <div class="filter_item">
                    Поиск по локации
                    <select name="select_directions" id="directions" class="block_select">
                        <option value="1">Россия и страны СНГ</option>
                    </select>
                </div>
                <div class="filter_item">
                    Опыт работы
                    <select name="select_directions" id="directions" class="block_select">
                        <option value="1">Без опыта работы</option>
                        <option value="2">Менее 1 года</option>
                        <option value="3">1-3 года</option>
                        <option value="3">4-6 лет</option>
                        <option value="3">Более 7 лет</option>
                    </select>
                </div>
                <div class="filter_item">
                    Период добавления
                    <select name="select_directions" id="directions" class="block_select">
                        <option value="1">Менее месяца назад</option>
                    </select>
                </div>
            </div>
              <div class="mini_worksheet">
                <div class="mini_worksheet_one">
                    <div class="icon_user"><img src="/images/landing/Group.png" width="40px" height="54px"></div>
                </div>
                <div class="mini_worksheet_two">
                    <div class="mini_worksheet_two_title">Team Lead Node JS</div>
                    <div class="mini_worksheet_two_social">
                        <ul>
                            <li><img src="/images/landing/Russia.png"></li>
                            <li>Russia, Moskow</li>
                            <li> </li>
                            <li><img src="/images/landing/social/green.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/vk.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/git.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/LinkedIn.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/google.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/facebook.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/telegram.png" alt="" class="social_icon"></li>
                        </ul>
                    </div>
                </div>
                <div class="mini_worksheet_three">
                    <span class="blue_money">$4000</span>/в месяц
                </div>
                <div class="mini_worksheet_splin">
                    
                </div>
                <div class="mini_worksheet_four">
                    <button class="blue_button" type="button"> Открыть анкету</button>
                </div>
              </div>
              <div class="mini_worksheet">
                <div class="mini_worksheet_one">
                    <div class="icon_user"><img src="/images/landing/Group.png" width="40px" height="54px"></div>
                </div>
                <div class="mini_worksheet_two">
                    <div class="mini_worksheet_two_title">Team Lead Node JS</div>
                    <div class="mini_worksheet_two_social">
                        <ul>
                            <li><img src="/images/landing/Russia.png"></li>
                            <li>Russia, Moskow</li>
                            <li> </li>
                            <li><img src="/images/landing/social/green.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/vk.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/git.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/LinkedIn.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/google.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/facebook.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/telegram.png" alt="" class="social_icon"></li>
                        </ul>
                    </div>
                </div>
                <div class="mini_worksheet_three">
                    <span class="blue_money">$4000</span>/в месяц
                </div>
                <div class="mini_worksheet_splin">
                    
                </div>
                <div class="mini_worksheet_four">
                    <button class="blue_button" type="button"> Открыть анкету</button>
                </div>
              </div>
              <div class="mini_worksheet">
                <div class="mini_worksheet_one">
                    <div class="icon_user"><img src="/images/landing/Group.png" width="40px" height="54px"></div>
                </div>
                <div class="mini_worksheet_two">
                    <div class="mini_worksheet_two_title">Team Lead Node JS</div>
                    <div class="mini_worksheet_two_social">
                        <ul>
                            <li><img src="/images/landing/Russia.png"></li>
                            <li>Russia, Moskow</li>
                            <li> </li>
                            <li><img src="/images/landing/social/green.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/vk.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/git.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/LinkedIn.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/google.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/facebook.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/telegram.png" alt="" class="social_icon"></li>
                        </ul>
                    </div>
                </div>
                <div class="mini_worksheet_three">
                    <span class="blue_money">$4000</span>/в месяц
                </div>
                <div class="mini_worksheet_splin">
                    
                </div>
                <div class="mini_worksheet_four">
                    <button class="blue_button" type="button"> Открыть анкету</button>
                </div>
              </div>
              <div class="mini_worksheet">
                <div class="mini_worksheet_one">
                    <div class="icon_user"><img src="/images/landing/Group.png" width="40px" height="54px"></div>
                </div>
                <div class="mini_worksheet_two">
                    <div class="mini_worksheet_two_title">Team Lead Node JS</div>
                    <div class="mini_worksheet_two_social">
                        <ul>
                            <li><img src="/images/landing/Russia.png"></li>
                            <li>Russia, Moskow</li>
                            <li> </li>
                            <li><img src="/images/landing/social/green.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/vk.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/git.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/LinkedIn.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/google.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/facebook.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/telegram.png" alt="" class="social_icon"></li>
                        </ul>
                    </div>
                </div>
                <div class="mini_worksheet_three">
                    <span class="blue_money">$4000</span>/в месяц
                </div>
                <div class="mini_worksheet_splin">
                    
                </div>
                <div class="mini_worksheet_four">
                    <button class="blue_button" type="button"> Открыть анкету</button>
                </div>
              </div>
              <div class="mini_worksheet">
                <div class="mini_worksheet_one">
                    <div class="icon_user"><img src="/images/landing/Group.png" width="40px" height="54px"></div>
                </div>
                <div class="mini_worksheet_two">
                    <div class="mini_worksheet_two_title">Team Lead Node JS</div>
                    <div class="mini_worksheet_two_social">
                        <ul>
                            <li><img src="/images/landing/Russia.png"></li>
                            <li>Russia, Moskow</li>
                            <li> </li>
                            <li><img src="/images/landing/social/green.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/vk.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/git.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/LinkedIn.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/google.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/facebook.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/telegram.png" alt="" class="social_icon"></li>
                        </ul>
                    </div>
                </div>
                <div class="mini_worksheet_three">
                    <span class="blue_money">$4000</span>/в месяц
                </div>
                <div class="mini_worksheet_splin">
                    
                </div>
                <div class="mini_worksheet_four">
                    <button class="blue_button" type="button"> Открыть анкету</button>
                </div>
              </div>
              <div class="mini_worksheet">
                <div class="mini_worksheet_one">
                    <div class="icon_user"><img src="/images/landing/Group.png" width="40px" height="54px"></div>
                </div>
                <div class="mini_worksheet_two">
                    <div class="mini_worksheet_two_title">Team Lead Node JS</div>
                    <div class="mini_worksheet_two_social">
                        <ul>
                            <li><img src="/images/landing/Russia.png"></li>
                            <li>Russia, Moskow</li>
                            <li> </li>
                            <li><img src="/images/landing/social/green.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/vk.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/git.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/LinkedIn.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/google.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/facebook.png" alt="" class="social_icon"></li>
                            <li><img src="/images/landing/social/telegram.png" alt="" class="social_icon"></li>
                        </ul>
                    </div>
                </div>
                <div class="mini_worksheet_three">
                    <span class="blue_money">$4000</span>/в месяц
                </div>
                <div class="mini_worksheet_splin">
                    
                </div>
                <div class="mini_worksheet_four">
                    <button class="blue_button" type="button"> Открыть анкету</button>
                </div>
              </div>
              <div class="mini_worksheet_button_line">
                <button class="button_mini_line" id="new_candidate_mini">
                    <img src="/images/landing/insertcandidate.png" alt="">
                    <span class="text_in_button_block_two">Внести кандидата в базу</span>
                </button>
                <button id="view_plus_mini">
                    <img src="/images/landing/rotate.png" alt="">
                    <span class="text_in_button_block_two">Смотреть еще</span>
                </button>
                <button class="button_mini_line" id="three_button_mini">
                    <img src="/images/landing/notice.png" alt="">
                    <span class="text_in_button_block_two">Уведомление по параметрам</span>
                </button>
            </div>
        </div>
        <div class="block_three" id="item_three">
            <div class="block_two_div_menu">
               <div class="block_menu" style="display: none;">
                  <ul>
                      <a href="#item_one"><li>Консультация</li></a>
                      <a href="#item_two"><li>База кандидатов</li></a>
                      <li class="activ_item_block_menu">Генератор вакансий</li>
                      <a href="#item_four"><li>Курсы онлайн</li></a>
                      <a href="#item_five"><li>О нас</li></a>
                      <li id="language_ru">RU</li>
                      <li id="language_en">EN</li>
                  </ul>
                </div>
                <button class="block_two_menu">
                   <img src="/images/landing/burger.png" alt="">
                   <img src="/images/landing/MENU.png" alt="Меню">
                </button>
            </div>
            <div class="block_two_title">Генератор презентаций вакансии</div>
            <div class="universal_content_for_block">
               <div class="universal_left_right">
                    <div class="universal_left" style="display: none;">
                        <div class="universal_title">Текст заголовка #1</div>
                        <div class="universal_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exсercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                        <div class="video_instruction">
                            <div class="button_video_instruction">
                                <div class="ellips_play_three">
                                    <div class="ellips_play_two">
                                        <div class="ellips_play_one">
                                            <img src="/images/landing/play.png" alt="" class="play_icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text_video_instruction">Смотреть видео-инструкцию</div>
                        </div>
                    </div>
                    <div class="universal_right" style="display: none;"><img src="/images/landing/MacBook.png" alt=""></div>
                </div>
                <div class="universal_bottom" style="display: none;">
                    <button class="blue_button">Создать вакансию</button>
                </div>
            </div>
        </div>
        <div class="block_four" id="item_four">
            <div class="block_two_div_menu">
               <div class="block_menu" style="display: none;">
                  <ul>
                      <a href="#item_one"><li>Консультация</li></a>
                      <a href="#item_two"><li>База кандидатов</li></a>
                      <a href="#item_three"><li>Генератор вакансий</li></a>
                      <li class="activ_item_block_menu">Курсы онлайн</li>
                      <a href="#item_five"><li>О нас</li></a>
                      <li id="language_ru">RU</li>
                      <li id="language_en">EN</li>
                  </ul>
                </div>
                <button class="block_two_menu">
                   <img src="/images/landing/burger.png" alt="">
                   <img src="/images/landing/MENU.png" alt="Меню">
                </button>
            </div>
            <div class="block_two_title">5 дней обучения</div>
            <div class="universal_content_for_block">
               <div class="universal_left_right">
                    <div class="universal_left" style="display: none;">
                        <div class="universal_title">IT рекрутер</div>
                        <div class="universal_text">
                            <p>Шаг за шагом начинающий рекрутер проводит работу на результат! Создает основу своей деятельности в рекрутинге - база кандидатов, ресечинг.</p>
                            <p>В обучении участвуют "живые" вакансии! - те, которые нужно закрывать уже сейчас. Это значит, что если ваш кандидат будет принят работодателем вы гарантированно получите % от его месячного оклада. </p>
                            <h4>Программа обучения разбита на 3 основых этапа:</h4>
                            <div class="universal_step">
                                <div class="universal_step_item">
                                    <div class="universal_step_ellips_three">
                                        <div class="universal_step_ellips_two">
                                            <div class="universal_step_ellips_one">01</div>
                                        </div>
                                    </div>
                                    <p>Регистрация в сети</p>
                                    <p>Изучение вакансии с использованием памятки рекрутера</p>
                                    <p><img src="/images/landing/clock.png" alt="">Время: 1 день</p>
                                </div>
                                <div class="universal_step_splin"></div>
                                <div class="universal_step_item">
                                    <div class="universal_step_ellips_three">
                                        <div class="universal_step_ellips_two">
                                            <div class="universal_step_ellips_one">02</div>
                                        </div>
                                    </div>
                                    <p>Поиск и добавление кандидатов в созданные профили. Работа с таблицей.</p>
                                    <p>Используем скрипты для общения</p>
                                    <p><img src="/images/landing/clock.png" alt="">Время: 2-3 дня</p>
                                </div>
                                <div class="universal_step_splin"></div>
                                <div class="universal_step_item">
                                    <div class="universal_step_ellips_three">
                                        <div class="universal_step_ellips_two">
                                            <div class="universal_step_ellips_one">03</div>
                                        </div>
                                    </div>
                                    <p>Составление анкеты по кандидатам и отправка в базу</p>
                                    <p><img src="/images/landing/clock.png" alt="">Время: 1 день</p>
                                </div>
                            </div>
                            <h4>По итогам интенсива команда “HR Network” готова предложить трудоустройство в нашем онлайн портале! Вы будете работать на рынках СНГ, Европы, ОАЭ, США и др.</h4>
                        </div>
                    </div>
                    <div class="universal_right" style="display: none;"><img src="/images/landing/MacBook.png" alt=""></div>
                </div>
                <div class="universal_bottom" style="display: none;">
                    <button class="blue_button">Подать заявку</button>
                </div>
            </div>
        </div>
        <div class="block_five">
            <div class="block_per_block"></div>
            <div class="block_five_universal">
                <div class="five_universal_left">
                    <img src="/images/landing/girl.png" alt="" height="816px">
                </div>
                <div class="five_universal_right">
                    <h3>Мы долго шли к этому и очень рады, что неделю назад уже официально стартовал наш спец проект, совместно с БФ "Открытые Ладони" - <span>DO IT!</span></h3>
                    <p>В больницах Украины не хватает Компьютеров и Программного Обеспечения для полноценного лечения и обслуживания пациентов. Проект DO IT как раз и направлен на обеспечение таких больниц . Начинаем с тех заведений, которые занимаются лечением взрослых и деток с проблемами дыхания.</p>
                    <p>От каждого нашего вознаграждения от наших Клиентов, теперь мы перечисляем средства в проект DO IT!</p>
                    <p>Наши Клиенты - это ИТ Компании по всему миру и теперь мы вместе делаем этот мир лучше!</p>
                    <p>DO IT! находится в открытом доступе на Всеукраинской Бирже Благотворительности (УББ):</p>
                    <div class="five_url">
                        <div class="five_circle_one"> </div>
                        <div class="five_circle_two"> </div>
                        <div class="five_circle_three"> </div>
                        <p><a href="https://ubb.org.ua/uk/special/22/" target="_blank"><span>https://ubb.org.ua/uk/special/22/</span></a></p>
                    </div>
                    <p>И каждый из Вас может его поддержать, если Вы не являетесь нашим Клиентом.</p>
                    <p>Спасибо Всем и Желаем Добра!</p>
                    <p>С Уважением, </p>
                    <p>Команда HR Network</p>
                    <div class="video_instruction">
                        <div class="button_video_instruction">
                            <div class="ellips_play_three">
                                <div class="ellips_play_two">
                                    <div class="ellips_play_one">
                                        <img src="/images/landing/play.png" alt="" class="play_icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text_video_instruction">Смотреть видео-инструкцию</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block_six" id="item_five">
            <div class="world_map">
                <img src="/images/landing/world_map.png" alt="">
            </div>
            <div class="block_two_div_menu">
                <div class="block_menu" style="display: none;">
                    <ul>
                        <a href="#item_one"><li>Консультация</li></a>
                        <a href="#item_two"><li>База кандидатов</li></a>
                        <a href="#item_three"><li>Генератор вакансий</li></a>
                        <a href="#item_four"><li>Курсы онлайн</li></a>
                        <li class="activ_item_block_menu">О нас</li>
                        <li id="language_ru">RU</li>
                        <li id="language_en">EN</li>
                    </ul>
                </div>
                <button class="block_two_menu">
                    <img src="/images/landing/burger.png" alt="">
                    <img src="/images/landing/MENU.png" alt="Меню">
                </button>
            </div>
            <div class="block_six_title">
                <div class="six_title_left">
                    Кто мы такие?
                </div>
                <div class="six_title_right">
                    <p>HR Network was initially set up in 2016 by experts specialized on IT recruitment for the last 7 years. <br>We work with Eastern Europe, Europe and the Middle East.</p>
                </div>
            </div>
            <div class="six_line_one">
                <div class="six_line_one_item">
                    <p>Our vision</p>
                    <p>We craft an impactful service to our clients and candidates. We dare to create and deliver Innovative IT Recruitment Service.</p>
                </div>
                <div class="six_line_one_item">
                    <p>Our Values: Integrity</p>
                    <p>We follow high standards of professional and personal ethics. We embrace honesty and trust.</p>
                </div>
                <div class="six_line_one_item">
                    <p>Our Values: Respect</p>
                    <p>We treat our clients and candidates with fairness and uncompromised respect.</p>
                </div>
                <div class="six_line_one_item">
                    <p>Our Values: Responsibility</p>
                    <p>We deliver our commitment to clients and candidates, being reliable and value added.</p>
                </div>
            </div>
            <div class="six_splin">x</div>
            <div class="six_line_two">
                <div class="six_line_two_left">
                    24 / 7 / 365
                </div>
                <div class="six_line_two_right">
                    <p>Our Recruiters are located in different countries: Ukraine, Russia, Belarus, <br>Germany, UAE which allows us to be available 24/7/365</p>
                </div>
            </div>
            <div class="six_white_block">
                <div class="block_two_title">Our services</div>
                <div class="six_white_block_table">
                    <div class="six_white_block_table_left">
                        <div class="white_table_item">
                            <p>Research</p>
                            <p>We do fast and efficient market <br> research and pre-selection</p>
                        </div>
                        <div class="white_table_horizontal_splin"> </div>
                        <div class="white_table_item">
                            <p>Cross Posting</p>
                            <p>We do Cross Posting of your <br> Vacancy in our Social Network: <br> Twitter, Facebook, Telegram</p>
                        </div>
                        <div class="white_table_horizontal_splin"> </div>
                        <div class="white_table_item">
                            <p>Database</p>
                            <p>You may also use our existing <br> expert Database (test mode)</p>
                        </div>
                    </div>
                    <div class="six_white_block_table_right">
                        <div class="white_table_item">
                            <p>Primal Interview</p>
                            <p>We do screening of the Candidates <br> and evaluation for relevancy and <br>risk analysis purposes</p>
                        </div>
                        <div class="white_table_horizontal_splin"> </div>
                        <div class="white_table_item">
                            <p>E-mail blasting</p>
                            <p>We send away e-mails to relevant <br> contacts within our expert <br> database</p>
                        </div>
                        <div class="white_table_horizontal_splin"> </div>
                        <div class="white_table_item">
                            <p>Presentation</p>
                            <p>We act as your Ambassador, <br> presenting your vacancy and <br> project. We excite the people!</p>
                        </div>
                    </div>
                    <div class="six_white_block_table_bottom">
                        <img src="/images/landing/pile_images.png" alt="">
                        <img src="/images/landing/after_pile.png" alt="">
                        <p>For our clients we intent to be more than just a Recruitment. <br> Together with HR Services we provide with Complimentary <br> Marketing to strengthen an Employer Brand.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block_seven">
            <div class="block_two_title">Our process is easy</div>
            <div class="block_seven_second_title">
                <p>Современные технологие позволяют сократить время и стоимость поиска <br> кандидатов в несколько раз. Рекрутинг с HR Network — это просто и быстро! </p>
            </div>
            <div class="block_seven_carousel">
                <div class="carousel_item">
                   <div class="carousel_number">1</div>
                    <div class="carousel_ellips_two">
                        <div class="carousel_ellips_one">
                            <img src="/images/landing/handshake.png" alt="" >
                        </div>
                    </div>
                    <div class="carousel_text">
                        <p>Agreement</p>
                        <p>We sign an Agreement and receive <br> full details of the vacancy*</p>
                    </div>
                </div>
                <div class="carousel_item">
                  <div class="carousel_number">2</div>
                   <div class="carousel_ellips_two">
                        <div class="carousel_ellips_one">
                            <img src="/images/landing/file_uup.png" alt="" >
                        </div>
                    </div>
                    <div class="carousel_text">
                        <p>Information</p>
                        <p>We receive from you photos of <br> your office, team, links on articles etc</p>
                    </div>
                </div>
                <div class="carousel_item">
                  <div class="carousel_number">3</div>
                   <div class="carousel_ellips_two">
                        <div class="carousel_ellips_one">
                            <img src="/images/landing/microphone.png" alt="" >
                        </div>
                    </div>
                    <div class="carousel_opacity"> </div>
                    <div class="carousel_text">
                        <p>Interview</p>
                        <p>We pass to you the Candidates CVs <br> with full details and organise interviews</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block_eaght">
            <div class="block_two_title">Testimonials</div>
            <div class="block_reviews">
                <div class="arrow_left">
                    <img src="/images/landing/arrow.png" alt="">
                </div>
                <div class="block_rewiews_rewiew">
                    <div class="rewiew_icon_ellips">
                        <img src="/images/landing/icon_rewiew_main.png" alt="">
                    </div>
                    <div class="rewiew_name_company">Антон Мопедов<span>CEO Google Inc.</span></div>
                    <div class="rewiew_text">«Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место»</div>
                </div>
                <div class="block_rewiews_item">
                    <div class="rewiews_item_ellips">
                        <div class="rewiew_icon">
                            <img src="/images/landing/icon_rewiews_2.png" alt="">
                        </div>
                    </div>
                    <div class="rewiew_name">
                        <p>Антон</p>
                        <p>Мопедов</p>
                    </div>
                    <div class="rewiew_company">Компания</div>
                </div>
                <div class="block_rewiews_item">
                    <div class="rewiews_item_ellips">
                        <div class="rewiew_icon">
                            <img src="/images/landing/icon_rewiews_1.png" alt="">
                        </div>
                    </div>
                    <div class="rewiew_name">
                        <p>Валентина</p>
                        <p>Терещенко</p>
                    </div>
                    <div class="rewiew_company">Компания</div>
                </div>
                <div class="block_rewiews_item">
                    <div class="rewiews_item_ellips">
                        <div class="rewiew_icon">
                            <img src="/images/landing/icon_rewiews_3.png" alt="">
                        </div>
                    </div>
                    <div class="rewiew_name">
                        <p>Мугамад</p>
                        <p>Алуфриентиев</p>
                    </div>
                    <div class="rewiew_company">Компания</div>
                </div>
                <div class="block_rewiews_item">
                    <div class="rewiews_item_ellips">
                        <div class="rewiew_icon">
                            <img src="/images/landing/icon_rewiews_4.png" alt="">
                        </div>
                    </div>
                    <div class="rewiew_name">
                        <p>Илья</p>
                        <p>Пухов</p>
                    </div>
                    <div class="rewiew_company">Компания</div>
                </div>
                <div class="arrow_right">
                    <img src="/images/landing/arrow.png" alt="">
                </div>
            </div>
            <div class="eaght_statusbar">
                <div class="eaght_statusbar_active"> </div>
            </div>
            <div class="eaght_button_line">
                <button class="blue_button">Оставить отзыв</button>
            </div>
            <div class="eaght_block_company_rewiews">
                <div class="icon_company_rewiews">
                    <img src="/images/landing/icon_company_rewiews/forbes.png" alt="">
                </div>
                <div class="icon_company_rewiews">
                    <img src="/images/landing/icon_company_rewiews/blockchain.png" alt="">
                </div>
                <div class="icon_company_rewiews">
                    <img src="/images/landing/icon_company_rewiews/vrinside.png" alt="">
                </div>
                <div class="icon_company_rewiews">
                    <img src="/images/landing/icon_company_rewiews/rusbase.png" alt="">
                </div>
                <div class="icon_company_rewiews">
                    <img src="/images/landing/icon_company_rewiews/huffpost.png" alt="">
                </div>
                <div class="icon_company_rewiews">
                    <img src="/images/landing/icon_company_rewiews/geekbrains.png" alt="">
                </div>
            </div>
        </div>
        <div class="block_nine">
            <div class="block_nine_left">
                <div class="block_two_title">Get in touch</div>
                <div class="block_seven_second_title">If you have any questions you can contact us:</div>
                <div class="block_nine_contacts">
                   global@hrnetwork.com
                    <ul>
                        <li><img src="/images/landing/icon_contacts/telegram.png" alt=""></li>
                        <li><img src="/images/landing/icon_contacts/twitter.png" alt=""></li>
                        <li><img src="/images/landing/icon_contacts/facebook.png" alt=""></li>
                        <li><img src="/images/landing/icon_contacts/skype.png" alt=""></li>
                    </ul>
                </div>
                <div class="news_subscription">
                    <div class="news_subscription_title">Subsсribe to our newsletter</div>
                    <div class="news_subscription_form">
                        <input type="email" name="news_email" id="news_email" placeholder="Введите ваш E-mail">
                        <button id="news_subscribe">Подписаться</button>
                    </div>
                </div>
            </div>
            <div class="block_nine_right">
                <div class="nine_right_title">Связаться с нами</div>
                <input type="text" name="contact_text" id="contact_text" placeholder="Я пишу в этом поле">
                <input type="text" name="contact_email" id="contact_email" placeholder="Введите ваш E-mail адрес">
                <button>Отправить запрос</button>
            </div>
        </div>
        <div class="footer">
            <div class="footer_one">
                Privacy Policy
            </div>
            <div class="footer_two">
                <img src="/images/landing/logo.png" alt="" width="170">
            </div>
            <div class="footer_three">
                2018. All rights reserved
            </div>
        </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/scripts_landing.js"></script>
</body>
</html>