<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Редактирование для:</h3> 
    <h1> <%= rec.fio %></h1>
    <h3> Email: <%= rec.email %></h3>
</body>
</html>