<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="box_logo">
                <div class="logo"></div>
            </div>
            <div class="box_info">
                <ul class="ul_box_info">
                    <% if (data.page.main=="recruiters") { %>
                        <% if (data.page.submain=="moderation") { %>
                            <li id="sm_item_act">Модерация</li>
                            <a href="/administration/recruiters/edit"><li>Редактирование</li></a>
                        <% } else { %>
                            <a href="/administration/recruiters/moderation"><li>Модерация</li></a>
                            <li id="sm_item_act">Редактирование</li>
                        <% } %>
                    <% } else if(data.page.main=="users") {%>
                        <% if (data.typeUser=="Developer" || data.typeUser=="SuperAdmin") { %>
                            <% if (data.page.submain=="create") { %>
                                <a href="/administration/users/settings"><li>Параметры</li></a>
                                <a><li  id="sm_item_act">Создать</li></a>
                                <a href="/administration/users/edit"><li>Редактировать</li></a>
                            <% } else if(data.page.submain=="settings") {%>
                                <a><li  id="sm_item_act">Параметры</li></a>
                                <a href="/administration/users/create"><li>Создать</li></a>
                                <a href="/administration/users/edit"><li>Редактировать</li></a>
                            <% } else if(data.page.submain=="edit") {%>
                                <a href="/administration/users/settings"><li>Параметры</li></a>
                                <a href="/administration/users/create"><li>Создать</li></a>
                                <a><li  id="sm_item_act">Редактировать</li></a>
                            <% } %>
                        <% } %>
                    <% } %>
                </ul>
            </div>
            <div class="box_user">
                <ul class="menu_user">
                <li><%= data.user %></li>
                <li><div class="logo_user"></div></li>
                <a href="/api/auth/logout"><li>Выход</li></a>
            </ul>
            </div>
        </div>
    </header>