<div class="modal_back" id="display_none">
    <div class="modal_main" id="modal_main">
        <div class="modal_line_title"><h3>ВНИМАНИЕ!</h3></div>
        <div class="modal_line_success" id="modal_line">
            Статус Операции
        </div>
        <button type="button" class="modal_button_e" id="modal_button">Хорошо</button>
    </div>
</div>