<div class="sidebar">
    <div class="box">
        <ul class="menu">
            <li class="item_activ">Анкеты</li>
            <li class="item_noactiv">Рекрутеры</li>
            <li class="item_noactiv">Статистика</li>
            <br>
            <li class="item_noactiv">Пользователи</li>
        </ul>
    </div>
</div>