<% include ../layout/header.ejs %>
<div class="main">
    <div class="container">
        <div class="sidebar">
            <div class="box">
                <ul class="menu">
                    <a href="/worksheets"><li class="item_noactiv">Анкеты</li></a>
                    <a href="/recruiters/create"><li class="item_noactiv">Рекрутеры</li></a>
                    <li class="item_activ">Статистика</li>
                    <br>
                    <a href="/users/create"><li class="item_noactiv">Пользователи</li></a> 
                </ul>
            </div>
        </div>
        <div class="content">
            
        </div>
        
    </div>
</div>
<% include ../layout/footer.ejs %>