<% include ../layout/header.ejs %>
<div class="main">
    <div class="container">
        <div class="sidebar">
            <div class="box">
                <ul class="menu">
                    <a href="/administration/worksheets/moderation"><li class="item_noactiv">Анкеты</li></a>
                    <a href="/administration/recruiters/moderation"><li class="item_noactiv">Рекрутеры</li></a>
                    <li class="item_activ">Статистика</li>
                    <br>
                    <a href="/administration/rewiews/moderation"><li class="item_noactiv">Отзывы</li></a>
                    <a href="/administration/additionaly"><li class="item_noactiv">Дополнительные поля</li></a>
                    <br>
                    <a href="/administration/users/settings"><li class="item_noactiv">Пользователи</li></a> 
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="main_stat">
                <div class="title_stat">
                    <div class="left_title_stat">
                        <h2 id="second_hh_stat" title="Нажмите, чтобы показать/скрыть диаграмму">Количество анкет у рекрутера</h2>
                    </div>
                    <div class="right_title_stat">
                        <div class="div_after_tooltip">
                            <button class="parametr_stat" id="title_year_stat">Год</button>
                            <div class="tooltip" id="tooltip_year">
                                <div class="tooltip_left">
                                    <ul>
                                        <% for(var i=0;i<data.year.length;i++) {%>

                                            <li><%= data.year[i] %></li>

                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="div_after_tooltip">
                            <button class="parametr_stat" id="title_month_stat">Месяц</button>
                            <div class="tooltip" id="tooltip_month"> 
                                <div class="tooltip_right" id="second_d_month"> 

                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="first_diagramm" id="curve_chart_two" style="display: none;">ЗДЕСЬ БУДЕТ ДИАГРАММА</div>
                <table class="table_rec_edit" style="display: none;" id="table_data">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th>Ф. И. О.</th>
                            <th>Skype ID</th>
                            <th>E-mail</th>
                            <th>Номер телефона</th>
                            <th id="bottom_f" style="cursor: pointer; display: flex; align-items: center;">Количество анкет<img src="/images/middle_f.png" alt="" width="16" height="16" style="margin-left: 10px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                    
                <div class="title_stat">
                    <div class="left_title_stat">
                        <h2 id="first_hh_stat" title="Нажмите, чтобы показать/скрыть диаграмму">Количесто новых анкет</h2>
                    </div>
                    <div class="right_title_stat">
                        <div class="div_after_tooltip">
                            <button class="parametr_stat" id="title_year_stat_one">Год</button>
                            <div class="tooltip" id="tooltip_year_one">
                                <div class="tooltip_left">
                                    <ul>
                                        <% for(var i=0;i<data.year.length;i++) { %>

                                            <li><%= data.year[i] %></li>

                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="div_after_tooltip">
                            <button class="parametr_stat" id="title_month_stat_one">Месяц</button>
                            <div class="tooltip" id="tooltip_month_one"> 
                                <div class="tooltip_right" id="first_d_month">
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="first_diagramm" id="curve_chart_one" style="display: none;">ЗДЕСЬ БУДЕТ ДИАГРАММА</div>
            </div>
        </div>
    </div>
</div>
<% include ../layout/footer.ejs %>